{% for log in userChangeLogList %}
  <li>
  {% if log.type = 1 %}
  <h2>分享{{ log.num }}次<em class='fr'>{{ log.creationTime }}</em></h2>
  <div class='log'>
    <div class='p_name fl'>笔记分享</div>
	<em class='fr'>元</em>
	<b class='fr'>{{ log.totalFee }}</b>
	<div class='clear'></div>
  </div>
  {% endif %}
  {% if log.type = 2 %}
  <h2>发布笔记<em class='fr'>{{ log.creationTime }}</em></h2>
  <div class='log'>
    <div class='p_name fl'>{{ log.text }}</div>
	<em class='fr'>元</em>
	<b class='fr'>{{ log.totalFee }}</b>
	<div class='clear'></div>
  </div>
  {% endif %}
  {% if log.type = 3 %}
  <h2>删除笔记<em class='fr'>{{ log.creationTime }}</em></h2>
  <div class='log'>
    <div class='p_name fl'>{{ log.text }}</div>
	<em class='fr'>元</em>
	<b class='fr'>{{ log.totalFee }}</b>
	<div class='clear'></div>
  </div>
  {% endif %}
  {% if log.type = 4 %}
  <h2>笔记推荐<em class='fr'>{{ log.creationTime }}</em></h2>
  <div class='log'>
    <div class='p_name fl'>{{ log.text }}</div>
	<em class='fr'>元</em>
	<b class='fr'>{{ log.totalFee }}</b>
	<div class='clear'></div>
  </div>
  {% endif %}
  {% if log.type = 5 %}
  <h2>分享活动<em class='fr'>{{ log.creationTime }}</em></h2>
  <div class='log'>
    <div class='p_name fl'>{{ log.text }}</div>
	<em class='fr'>元</em>
	<b class='fr'>{{ log.totalFee }}</b>
	<div class='clear'></div>
  </div>
  {% endif %}
  {% if log.type = 6 %}
  <h2>活动红包<em class='fr'>{{ log.creationTime }}</em></h2>
  <div class='log'>
    <div class='p_name fl'>{{ log.text }}</div>
	<em class='fr'>元</em>
	<b class='fr'>{{ log.totalFee }}</b>
	<div class='clear'></div>
  </div>
  {% endif %}
  {% if log.type = 7 %}
  <h2>提现<em class='fr'>{{ log.creationTime }}</em></h2>
  <div class='log'>
    <div class='p_name fl'>提取现金</div>
	<em class='fr'>元</em>
	<b class='fr'>{{ log.totalFee }}</b>
	<div class='clear'></div>
  </div>
  {% endif %}
  {% if log.type = 8 %}
  <h2>订单提成<em class='fr'>{{ log.creationTime }}</em></h2>
  <div class='log'>
    <div class='p_name fl'>订单提成</div>
	<em class='fr'>元</em>
	<b class='fr'>{{ log.totalFee }}</b>
	<div class='clear'></div>
  </div>
  {% endif %}
  {% if log.type = 0 %}
  <h2>卖出{{ log.num }}个<em class='fr'>{{ log.creationTime }}</em></h2>
  <div class='log'>
    <div class='p_name fl'>{{ log.text }}</div>
	<em class='fr'>元</em>
	<b class='fr'>{{ log.totalFee }}</b>
	<div class='clear'></div>
  </div>
  {% endif %}
  </li>
{% endfor %}
