<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="baidu-site-verification" content="ZoKaXQ0GoY" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
        <meta name="format-detection" content="telephone=no"/>  
        <title>{% block title %}我的钱包{% endblock %}</title>
        {% load static %}
        {% load compress %}
	<link rel="icon" href="{% static "images/Icon-Small.ico" %}" mce_href="{% static "images/Icon-Small.ico" %}" type="image/x-icon" />
	<link rel="shortcut icon" href="{% static "images/Icon-Small.ico" %}" type="image/x-icon" />
        {% compress css inline %}
	<link rel="stylesheet" href="{% static "css/style.css" %}?v=1.1">
	<link rel="stylesheet" href="{% static "css/change.css" %}?v=1.2">
        {% endcompress %}
        <script type="text/javascript" src="http://static.fenpuwang.com/js/jquery.min.js"></script>
        {% compress js inline %}
        <script type="text/javascript" src="{% static "js/base.js" %}?v=1.1"></script>
        <script type="text/javascript" src="{% static "js/loaddata.js" %}?v=1.0"></script>
        <script type="text/javascript" src="{% static "js/back_top.js"%}?v=1.0"></script>
        {% endcompress %}
        {% block script %}{% endblock %}
    </head>

    <body>
        <a name="back_top" id="back_top"></a>
        <div id="main-content">
		   <div class='change_banner relative'>
		      <img src='{% static "images/img_my_income.png"%}' class='fl'/>
			  <span class='absolute'>钱包余额</span>
			  <div class='total absolute'><b>{{ change_info.change }}</b>元</div>
		     <div class='tip_info fl'>
		        <h2>发笔记，就可以获得收益哦</h2>
		        <div class='con'>若笔记被设为精选，你将额外获得更多收益</div>
		     </div>
                     <div class='fl' style="height:57px;width:100%;background-color:rgb(61,151,147);">
                         <input type="text" placeholder="请输入现金券上的编码" style="font-size:12px;padding-left:15px;border:0px;margin-top:8px;border-radius:2px;margin-left:17px;height:40px;" class="fl exchange_box" id="exchange_box">
                         <div class="fr exchange_btn" style="font-size:12px;margin-top:8px;margin-right:17px;height:40px;background-color:#FFB7B1;color:#fff;width:77px;line-height:40px;border-radius:2px;text-align:center;" >兑换</div>
                     </div>
		     <div class='clear'></div>
		   </div>
		  <div class='change_content'>
                    <h1>收益详情<a class='fr' href='http://m.fenpuwang.com/topic/2404/'>规则说明</a></h1>
			 {% if not userChangeLogList %}
			   <div class='tip'>
			      你还没有任何收益哦
			   </div> 
			 {% endif %} 
			 {% if userChangeLogList %}
			   <ul class='datalist loglist'>
			     {% include "ucenter/change_log_list.html" %} 
  			   </ul>
			 {% endif %} 
		  </div>
        </div>
        <a href='#back_top' id="back_top_button"  class="back_top_button hidden" ></a>
         <div style="left:0;width:100%;position:fixed;bottom:50%;z-index:9999">
             <div style="display:none;margin:0px auto;color:white;text-align:center;width:100%;" >
                  <span style="background-color:grey;padding:11px 15px 9px 11px;" class="point_box"></span>
             </div>
        </div>
        <!--baidu begin-->
        <div class="hidden">
        <script type="text/javascript">
          var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
          document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F9c85a2b6ff68abc4a01a855d93ebcbc5' type='text/javascript'%3E%3C/script%3E"));
        </script>
        </div>
		<script type="application/javascript">
		    $(".datalist").loaddata({
			    url : "{{ url }}",
		    });
	    </script>
        <!--baidu end-->
        <!--google begin-->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-57617769-1', 'auto');
          ga('send', 'pageview');

        </script>
        <!--google end-->
       <script>
         var timing;
         function success(data){
            if(data.error == 1){
                 $(".point_box").html(data.errorString);
            }
            if(data.error == 0){
                 $(".point_box").html(data.content);
            }
            $(".point_box").parent().show();
            $(".point_box").parent().fadeOut(3000);
         }
         function check_exchange_box(){
            if($(".exchange_box").val() == ""){
                $(".exchange_btn").css("background-color","#FFB7B1");
            }else{
                $(".exchange_btn").css("background-color","#ff5346");
            } 
         }
         $(document).ready(function(){
           var exchange_box_width = $(".exchange_box").parent().width()-77-34-17-15;
           $(".exchange_box").width(exchange_box_width);
           $(".exchange_box").focus(function(){
                 timing = setInterval(check_exchange_box,100);     
           });
           $(".exchange_box").blur(function(){
                 clearInterval(timing);
           });
           $(".exchange_btn").click(function(){
              var exchange_code = $(".exchange_box").val();
              if(exchange_code == ""){
                 return;
              }
              var exchange_url = "{{ exchange_code_url }}" + "?code="+exchange_code+"&sessionKey="+"{{ session }}"
              $.ajax({
                 url:exchange_url,
                 success:success
              });
           });
        });
       </script>
    </body>

</html>
