{% load static %}
{% for question_topic in question_topic_list %}
  {% include "items/questionTopicItem.html" %}
   {% if question_topic_list|length > 3 %}
    {% if forloop.counter == 3 and product.mark %}
     <div class="product_related">
        <a href='{% url 'products:query_by_category' 1 product.product.category.categoryId %}'>
                <img src="{% static "images/icon_product_detail_related@2x.png" %}" style="height:44px;width:44px;" class="float_l">
                <div class="float_l common_cat" style="line-height:44px;margin-left:10px;color;rgb(68,68,68);color:rgb(68,68,68);">同类别产品</div>
        </a>
        <a href='{% url 'products:query_by_category' 3 product.product.brand.brandId %}'>
               <img src="{% static "images/icon_product_detail_brand@2x.png" %}" style="height:44px;width:44px;margin-left:32px;" class="float_l">
               <div class="float_l common_brand" style="line-height:44px;margin-left:10px;color:rgb(68,68,68);">同品牌产品</div>
        </a>
     </div>
     <div class="sp_line"></div>     
     <script>
       $(document).ready(function(){
           var product_related_width = $(".common_cat").width()+$(".common_brand").width()+88+52;
           $(".product_related").css("width",product_related_width);
        
        });
     </script>
    {% endif %}
   {% else %}
     {% if forloop.last %}
       <div class="product_related">
          <a href='{% url 'products:query_by_category' 1 product.product.category.categoryId %}'>
                  <img src="{% static "images/icon_product_detail_related@2x.png" %}" style="height:44px;width:44px;" class="float_l">
                  <div class="float_l common_cat" style="line-height:44px;margin-left:10px;color;rgb(68,68,68);color:rgb(68,68,68);">同类别产品</div>
          </a>
          <a href='{% url 'products:query_by_category' 3 product.product.brand.brandId %}'>
                 <img src="{% static "images/icon_product_detail_brand@2x.png" %}" style="height:44px;width:44px;margin-left:32px;" class="float_l">
                 <div class="float_l common_brand" style="line-height:44px;margin-left:10px;color:rgb(68,68,68);">同品牌产品</div>
          </a>
       </div>
       <div class="sp_line"></div>
       <script>
         $(document).ready(function(){
             var product_related_width = $(".common_cat").width()+$(".common_brand").width()+88+52;
               $(".product_related").css("width",product_related_width);
 
          });
       </script>
     {% endif %}
  {% endif %}
{% endfor %}
