{% extends "base_topic.html" %}

{% block keywords %} {{ question.question.normal_title }} {% endblock %}
{% block description %} {{ question.question.content }}-粉扑网 {% endblock %}
{% block title %} {{ question.question.normal_title }} {% endblock %}
{% block script %}
{% load static %}
{% load compress %}
<script src="https://s.meiqia.com/js/mechat.js?unitid=6497&btn=hide" charset="UTF-8"></script>
{% compress css inline %}
<link rel="stylesheet" href="{% static "css/order.css" %}?v=1.4">
{% endcompress %}
{% endblock %}
{% block main_content %}
<div class="order_background">
<div class="relative order_express_info">
  {% ifequal order.productOrder.status 3 %}
  <img src="{% static "images/img_order_detail_deliery@2x.png" %}" class="float_l order_express_btn">
  <div class="float_l">
     <div class="order_express_status">已发货</div>
     <div class="order_express_num">{{ order.productOrder.transportNum }}</div>
  </div>
  {% endifequal %}
  {% ifequal order.productOrder.status 0 %}
   <img src="{% static "images/img_order_detail_to_paid@2x.png" %}" class="float_l order_express_btn">
   <div class="float_l">
      <div class="order_express_other_status">待付款</div>
  </div>   
  {% endifequal %}
  {% ifequal order.productOrder.status 2 %}
  <img src="{% static "images/img_order_detail_undeliery@2x.png" %}" class="float_l order_express_btn">
  <div class="float_l">
      <div class="order_express_other_status">待发货</div>
  </div>
  {% endifequal %}
  {% ifequal order.productOrder.status 9999 %}
  <img src="{% static "images/img_order_detail_errror@2x.png" %}" class="float_l order_express_btn">
  <div class="float_l">
      <div class="order_express_other_status">订单已失效</div>
  </div>
  {% endifequal %}
  <a href="javascript:void(0)" onclick="mechatClick()">
  <div class="absolute order_service_section">
       <div class="float_r center marg_r_os">
          <img src="{% static "images/btn_order_detail_feedback_normal@2x.png" %}" class="order_service_btn">
          <div class="order_service_character">联系客服</div>
       </div>
  </div>
  </a>
</div>
<div class="order_line marg_t_oz"></div>
<div class="relative order_buyer_info">
    <div class="order_buyer_name">收货人：{{ order.productOrder.userName}}</div>
    <div class="absolute order_buyer_t">
        <div class="float_r order_buyer_telephone">{{ order.productOrder.mobile }}</div>
    </div>
    <div class="marg_t_one_four">
        <div class="float_l order_buyer_character">收货地址：</div>
        <div class="float_l order_buyer_address">{{ order.productOrder.address}}</div>
        <div class="clear"></div>
    </div>
</div>
{% if order.productOrder.customerRemark|length %}
<div class="order_line marg_t_oz"></div>
<div class="relative order_buyer_info">
    <div class="order_buyer_name">备注信息</div>
    <div class="marg_t_one_four">
        <div class="float_l order_buyer_address">{{ order.productOrder.customerRemark}}</div>
        <div class="clear"></div>
    </div>
</div>
{% endif %} 
<div class="order_line"></div>
<div class="order_line marg_t_oz"></div> 
<div class="relative order_order_goods_total">
   <div class="order_order_num">订单编号：{{ order.productOrder.orderId}}</div>  
   <div class="absolute order_order_t">
       <div class="float_r order_order_time">{{ order.productOrder.creationTime }}</div>
   </div>
   <div class="marg_t_of order_line"></div>
   {% for product  in order.productOrder.orderInfoList %}
   <div class="order_goods_info">
     <a href='{% url 'product:product_detail' product.productId %}'>
     <img src="{{ product.goods_pic }}" class="float_l order_goods_img">
	 </a>
     <a href='{% url 'product:product_detail' product.productId %}'>
     <div class="float_l order_goods_name_size" >
         <div class="order_goods_name">{{ product.goods_name }}</div>
         <div class="order_goods_size">￥{{ product.price }}/{{ product.size }}</div>
     </div>
	 <div class='order_goods_num'>×{{ product.num }}
	 </a>
	 </div>
     <div class="clear"></div>
   </div>    
   <div class="order_line"></div> 
   {% endfor %}
   <div class="order_total_num color_99">共<span class="color_22">{{ order.productOrder.goodsNum }}</span>件产品</div>
   <div class="absolute order_total_s">
       <div class="float_r order_total_statistics color_99"><span class="order_total_freight">运费<span class="color_22">{{ order.productOrder.transportFee }}</span>&nbsp;&nbsp;&nbsp;&nbsp;合计：</span><span class="order_total_price">¥{{ order.productOrder.totalFee }}</span></div>
   </div>
</div>
{% if order.productOrder.transportInfo|length %}
<div class="order_line marg_t_oz"></div>
<div class="relative order_buyer_info">
    <div class="order_buyer_name">物流信息</div>
    <div class="marg_t_one_four">
        <div class="float_l order_buyer_address">{{ order.productOrder.transportInfo}}</div>
        <div class="clear"></div>
    </div>
</div>
{% endif %}
<div class="order_line"></div>
</div>
<div class='to_pay_hidden hidden'>
  <form method='post' action='{% url 'cart:set_contact' %}' method='POST'>
    <input type='hidden' name='orderId' value='{{ order.productOrder.orderId }}' />
    <input type='hidden' name='total_fee' value='{{ order.productOrder.totalFee }}' />
    <input class='to_pay_btn block fr' type='submit' value='去支付' />
  </form>
</div>
{% ifequal order.productOrder.status 0 %}
 <script>
   $(function () {
      $(".footer_download").html($(".to_pay_hidden").html());
   });
 </script>
{% endifequal %}
{% endblock %}
