{% extends "base.html" %}

{% block keywords %} {{ question.question.normal_title }} {% endblock %}
{% block description %} {{ question.question.content }}-粉扑网 {% endblock %}
{% block title %} {{ question.question.normal_title }} {% endblock %}
{% block script %}
{% load static %}
{% load compress %}
{% compress css inline %}
<link rel="stylesheet" href="{% static "css/order.css" %}"?v=1.3>
{% endcompress %}
{% endblock %}
{% block main_content %}
<div class="orders_background datalist">
	{% include "order/orders_list.html" %}
</div>
<script type="application/javascript">
$(".datalist").loaddata({
  url : "{{ url }}"
});
$(document).ready(function(){
  $(".footer_download").hide();
});
</script>
{% endblock %}

