<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="baidu-site-verification" content="ZoKaXQ0GoY" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
        <meta name="description" content="粉扑网 - 中国第一美妆问答社区。粉扑有最全美妆产品库，最赞达人笔记。做美妆功课，来粉扑网就够了！"/>
        <meta name="keywords" content="粉扑,粉扑网,护肤,美妆,问答"/>
        <title>{% block title %}粉扑网 - 支付宝{% endblock %}</title>
        {% load static %}
        <link rel="stylesheet" href="{% static "css/style.css" %}?v=1.0">
        <script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/base.js" %}?v=1.1"></script>
        <script type="text/javascript" src="{% static "js/loaddata.js" %}?v=1.0"></script>
        <script type="text/javascript" src="{% static "js/back_top.js"%}?v=1.0"></script>
        {% block script %}{% endblock %}
    </head>

    <body>
      <div id="main-content">
        <div style="width:100%; height:100px;">
          <div class="alipay_click_me fr" style="width:144px;height:100px;background-image:url('{% static "images/img_guide_wechat.png" %}');"></div>
        </div>
        <div style="width:100%; height:700px;">
          <div class="alipay_info" style="margin:0 auto;width:484px;height:655px;background-image:url('{% static "images/img_guide_wechat_02.png" %}');"></div>
        </div>
      </div>
      <script>
      </script>
    </body>
</html>
