.img404_container{padding-top:100px;}
.img404{margin:0 auto;background-image:url('/static/images/img_error@2x.png');background-size:60px 60px;width:60px;height:60px;}
.message{color:#CD9C99;padding-top:30px;}
.navi404{color:#666666;padding-top:140px;}
