body{margin:0px;background-image:url('../images/bonus_background.jpg');}
ul{padding:0px;margin:0px;}
ul li{list-style:none;font-size:10px;color:#401512;margin-top:5px;}
.float_l{float:left;}
.float_r{float:right;}
.absolute{position:absolute;}
.relative{position:relative;}
.hidden{display:none;}
.block{display:block;}
.center{text-align:center;}
.div_center{margin:0px auto;}
.pad_t_fs{padding-top:46px;}
.pad_t_tn{padding-top:29px;}
.pad_t_sz{padding-top:60px;}
.marg_t_ft{margin-top:43px;}
.marg_t_on{margin-top:19px;}
.height_os{height:16px;}
.width_ttz{width:320px;}
.weixin_share{z-index:9999;height:100%;width:100%;background-color:#000000;filter:alpha(opacity:60);opacity:0.6;-moz-opacity:0.6;-khtml-opacity:0.6}
.weixin_pic_section{height:34px;margin-top:5px;}
.weixin_pic{height:34px;width:27px;margin-right:47px;float:right;}
.weixin_character_section{height:18px;margin-top:7px;}
.weixin_character{font-family:黑体-简;font-size:16px;color:#ffffff;margin-right:30px;}
.send_pic{height:275px;width:284px;}
.send_button{height:57px;width:211px;}
.grab_pic_section{height:249px;width:277px;margin-top:17px;}
.grab_pic{height:249px;width:277px;}
.grab_button{height:148px;width:213px;top:102px;left:37px;}
.grab_user_avatar{height:54px;width:54px;border-radius:50%;}
.grab_user_name{font-size:18px;color:#7d130b;font-family:黑体-简;margin-top:13px;}
.grab_character_section{width:100%;left:0px;bottom:20px;color:#401512;font-size:10px;font-family:黑体-简;}
.get_money{left:0px;top:120px;width:100%;font-size:73px;color:#f33a2c;font-family:helvetica;}
.get_share_button{height:36px;width:180px;top:284px;left:70px;}
.get_download{top:330px;width:100%;text-align:center;font-size:11px;}
.get_download a{color:#ffcd81}
.get_download_color{color:#ffcd81;}
.get_pic_section{height:351px;width:320px;}
.get_pic{height:351px;width:320px;}
.get_rule_section{height:16px;margin-bottom:8px;}
.get_block{height:14px;width:8px;background-color:#401512;}
.get_rule{font-size:14px;color:#401512;line-height:14px;}
.get_character_section{margin-left:10%;margin-top:19px;}
.total_money{left:0px;top:145px;width:100%;color:#f33a2c;font-family:helvetica;font-size:36px;}
.total_all_money{left:0px;top:228px;width:100%;color:#f33a2c;font-size:12px;font-family:黑体-简;}
.total_extract_button{height:37px;width:180px;top:284px;left:70px;}
.total_extract{font-size:14px;color:#401512;line-height:14px;}
.total_step{font-size:10px;color:#401512;margin-top:8px;}
.total_pic{height:351px;width:320px;}
.total_pic_section{height:351px;width:320px;}
.total_block{width:8px;height:14px;background-color:#401512;}
.total_character_section{margin-left:10%;}


