html,body,div,span,iframe,h1,h2,h3,h4,h5,h6,p,pre,a,em,font,img,small,strong,b,u,i,s,dl,dt,dd,ol,ul,li,fieldset,form,label {padding:0px;margin:0px;-webkit-tap-highlight-color:rgba(0,0,0,0);}
a,img {border:0;}
ul {list-style:none;}
li {list-style-type:none;}
input,select{vertical-align:middle;padding:0px;}
h1, h2, h3, h4, h5, h6 {font-weight:normal; font-size:12px;}
b,i,em {font-style:normal;}
a {text-decoration:none;}
a:visited{color:#e4e4e4;}
input {-webkit-appearance: none;}
a,button,input{-webkit-tap-highlight-color:rgba(0,0,0,0);}
.break { word-break:break-all; word-wrap:break-word;}
.nobreak { word-break:keep-all; word-wrap:normal;}
.absolute{ position:absolute;}
.relative{ position:relative;}
.fl {float:left; }
.fr {float:right; }
.hide{display:none;}
.clear{ clear:both; height:0px; width:100%; font-size:1px; line-height:0px; visibility:hidden; overflow:hidden;}
.scene{position:relative;margin:0 auto;}
.scene img{display:block;width:100%;}
body{background-color:#ffefec;}
#loading_box{background-color:#FEF6F5;height:100%;width:100%;vertical-align:middle;}
#loading_box h2{color:#CD9C99;font-size:28px;font-size:20vw;text-align:center;}
#welcome_box {background-repeat:repeat-x;}
#welcome_box .lipstick{width:20%;left:0px;top:10%;}
#welcome_box .title{width:90%;right:5%;top:5%;z-index:4;}
#welcome_box .bottom{width:100%;left:0px;bottom:0px;}
#welcome_box .go{width:50%;left:25%;top:50%;z-index:5;}
#game_box{}
#game_box .q_bg{width:90%;margin:0 auto;padding-top:10%;padding-top:10vw;}
#game_box .q_a_bg{width:90%;margin:0 auto;}
#game_box .q_top_left{width:16%;left:10%;top:1%;z-index:5;}
#game_box .q_top_right{width:30%;right:10%;top:1%;z-index:5;}
#game_box .q_pic_box{height:65%;width:60%;left:20%;top:25%;z-index:4;text-align:center;}
#game_box .q_pic{height:100%;}
#game_box .q_progress{width:90%;margin:0 auto;}
#game_box .q_num{width:20%;left:10%;top:8%;z-index:5;}
#game_box .q_topic{width:20%;right:13%;top:50%;z-index:9;}
#game_box .q_box{}
#game_box .q_p_box{}
#game_box .q_a_box{}
#game_box .i_wrong{width:24px;display:inline;vertical-align:top;}
#game_box .i_right{width:24px;display:inline;vertical-align:top;}
#game_box .qa{z-index:6;top:16%;left:34%;}
#game_box .qa li{color:#63211f;font-size:30px;font-size:5vw;padding:10px 0;padding:1vw 0;}
#game_box .qa .question{font-weight:bold;}
.center{text-align:center;}
.fixed{position:fixed;}
.div_center{margin:0px auto;}
.bold{font-weight:bold;}
.fc1{color:#999;}
.fc2{color:#ff5346;}
.fc3{color:#fff;}
.fs15{font-size:15px;}
.fs11{font-size:11px;}
.fs20{font-size:20px;}
#finish_box{display:none;background-image:url(images/bg_questions.png);max-width:680px;margin:0px auto;text-align:center;padding-top:13px;}
.finish_des_img{width:276px;}
.finish_time{width:188px;margin:11px auto 0px;font-size:12px;height:14px;line-height:14px;} 
.finish_check_img{margin:17px auto 0px;width:200px;}
#result_box{background-image:url(images/bg_questions.png);text-align:center;padding-top:13px;max-width:680px;margin:0px auto;text-align:center;padding-top:13px;}
.score_master_section{left:0px;top:49px;width:100%;}
.score_master{height:35px;margin:0px auto;}
.score{color:#ff5345;font-size:33px;line-height:35px;}
.master{margin-left:8px;}
.score_rule{margin-top:16px;font-weight:bold;color:#666;font-size:15px;line-height:18px;}
.score_own_face{font-weight:bold;color:#666;font-size:15px;line-height:18px;}
.result_score_ticket{width:165px;height:50px;background-color:#ffa32a;margin:13px auto 0px;}
.result_next_st{width:165px;height:50px;background-color:#ffa32a;margin:0px auto;}
.score_own_ticket{font-size:32px;color:#fff;line-height:50px;}
.ticket_use_rule{margin-top:10px;margin-left:10px;}
.score_master_img{width:288px;}
.again_play_btn{width:215px;height:68px;}
.again_play{width:100%;left:0px;top:0px;color:#fff;line-height:68px;}
.again_play_face{width:215px;height:68px;}
.no_play_btn{width:215px;height:68px;}
.no_play{width:100%;left:0px;top:0px;color:#fff;line-height:68px;}
.no_play_face{width:215px;height:68px;}
.fp_logo_img{width:212px;margin-top:22px;}
.layer{display:none;position:fixed;top:0px;left:0px;width:100%;height:100%;}
.layer_content{background-color:black;height:100%;max-width:680px;filter:alpha(opacity=60);opacity:0.6;-moz-opacity:0.6;-khtml-opacity:0.6;}
.layer_white{width:100%;top:0px;left:0px;}
.layer_small_img{width:225px;}
.layer_big_img{width:225px;height:240px;}
.layer_bigger_img{width:278px;}
.layer_white_section{margin-top:122px;}
.score_ticket_section{top:90px;left:0px;width:100%;}
.score_ticket_one{top:43px;left:0px;width:100%;font-size:14px;}
.score_ticket_two{top:62px;left:0px;width:100%;font-size:14px;}
.duang{top:56px;left:0px;width:100%;color:#ff5345;font-size:20px;}
.duang_content{top:103px;left:0px;width:100%;color:black;font-size:10px;}
.fast_get_section{top:170px;left:0px;width:100%;}
.fast_get_btn{border-radius:3px;width:165px;height:41px;line-height:41px;color:#fff;font-size:12px;background-color:rgb(74,170,186);}
.download_section{top:272px;left:0px;width:100%;}
.download{line-height:52px;border-radius:3px;width:245px;height:52px;background-color:#ff5345;font-size:14px;}

