.float_l{float:left;}
.float_r{float:right;}
.clear{clear:both;}
.center{text-align:center;}
.relative{position:relative;}
.absolute{position:absolute;}
.marg_t_of{margin-top:15px;}
.marg_t_oz{margin-top:10px;}
.marg_t_one_four{margin-top:14px;}
.marg_r_os{margin-right:17px;}
.order_background,.orders_background{background-color:rgb(249, 248, 245);height:100%;}
.orders_line,.order_line{border:thin solid 1px #eee;}
.order_express_info{height:36px;background-color:#5F1309;padding-top:14px;padding-bottom:14px;}
.order_express_btn{height:30px;width:30px;margin-top:3px;}
.order_express_status{font-size:16px;color:#FFFFFF;height:16px;line-height:16px;}
.order_express_other_status{font-size:16px;color:#FFFFFF;height:36px;line-height:36px;}
.order_express_num{font-size:11px;color:#FFFFFF;margin-top:9px;height:11px;line-height:11px;}
.order_service_btn{width:19px;height:17px;}
.order_service_character{font-size:11px;color:#FFFFFF;margin-top:5px;height:11px;line-height:11px;}
.order_service_section{width:100%;top:14px;left:0px;height:33px;}
.order_buyer_info{padding:12px;background-color:#FFFFFF;}
.order_buyer_name{font-size:16px;height:16px;line-height:16px;}
.order_buyer_character{color:#666666;font-size:12px;}
.order_buyer_address{color:#666666;font-size:12px;width:81%;}
.order_buyer_t{width:100%;left:0px;top:12px;}
.order_buyer_telephone{margin-right:12px;font-size:16px;height:16px;}
.order_order_goods_total{padding-left:12px;padding-right:12px;background-color:#FFFFFF;}
.order_order_num{font-size:12px;padding-top:17px;color:#666666;}
.order_order_t{width:100%;left:0px;top:17px;}
.order_order_time{font-size:10px;margin-right:12px;color:#AAAAAA;}
.order_goods_num{text-align:right;font-size:18px;color:#aaa;}
.orders_goods_info,.order_goods_info{padding-top:12px;padding-bottom:12px;}
.orders_goods_img,.order_goods_img{width:100px;}
.orders_goods_name_size,.order_goods_name_size{width:65%;margin-left:12px;}
.orders_goods_name,.order_goods_name{}
.orders_goods_size,.order_goods_size{margin-top:9px;color:#999999;font-size:12px;}
.orders_total_num,.order_total_num{padding-top:17px;padding-bottom:17px;font-size:12px;}
.orders_total_s,.order_total_s{left:0px;bottom:17px;width:100%;}
.orders_total_statistics,.order_total_statistics{margin-right:12px;}
.orders_total_price,.order_total_price{color:#222222;font-size:18px;}
.orders_total_freight,.order_total_freight{font-size:12px;}
.orders_goods_total{padding-left:12px;padding-right:12px;background-color:#FFFFFF;}
.orders_order_info{padding-top:9px;padding-bottom:9px;padding-left:12px;padding-right:12px;height:29px;background-color:#FFFFFF;}
.orders_order_btn{height:27px;width:27px;}
.orders_order_s{width:100%;top:18px;left:0px;}
.orders_order_status{font-size:13px;height:11px;line-height:11px;margin-right:14px;}
.orders_order_num_time{margin-left:8px;}
.orders_order_num{font-size:12px;color:#666666;height:12px;line-height:12px;}
.orders_order_time{font-size:10px;color:#AAAAAA;margin-top:7px;height:10px;line-height:10px;}
.color_FF{color:#FF5346;}
.color_66{color:#666666;}
.color_99{color:#999999;}
.color_22{color:#222222;}
.to_pay_btn{width:80px;border:None;height:40px;background-color:#ff5346;font-size:15px;color:#fff;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;margin-right:20px;}

