.product_list li{clear:both;height:50px;padding:10px 12px;}
.product_list .pro_pic{width:50px;height:50px;-webkit-border-radius: 100px;-moz-border-radius: 100px;border-radius: 100px;margin:0 10px;border:1px #eee solid;}
.product_list .pro_con{min-width:194px;padding-top:5px;width:70%}
.product_list .desc{padding-top:7px;}
.product_list .desc i{padding-left:5px;}
.product_list li .fchl{color:#aaaaaa;}
.used_product_list li .fchl{color:#ff5346;}
.brand_filter_btn{background-image:url('/static/images/icon_pinpai_down@2x.png');width:11px;height:11px;background-size:11px 11px;top:35px;left:70%;}
.brand_filter_btn_up{background-image:url('/static/images/icon_pinpai_up@2x.png');}
.product_category_list{padding:0px 15px;font-size:14px;}
.product_category_list li{padding:15px 9%;height:14px;border-bottom:1px #eeeeee solid;color:#aaaaaa;}
.product_category_list li a{color:#222222;text-decoration:none;padding-right:4%;}
.brand_filter_box {background-color:#fff;z-index:9999;width:100%;box-shadow:0 0 5px #999;-webkit-box-shadow:0 0 5px #999;-moz-box-shadow:0 0 5px #999;}
.brand_filter_box li{color:#d3b5af;display:block;height:13px;padding:17px 25px;font-size:12px;float:left;width:10px;}
.brand_filter_box li a{color:#999999;}
.filter_list li{position:relative;}
.filter_list_box,.filter_flow_box{height:69px;background-color:#fff;width:100%;}
.product_sub_name{text-overflow:ellipsis;white-space:nowrap;overflow:hidden;display:block;}

.products_banner{height:16px;margin-top:10px;}
.products_banner_block{height:16px;width:4px;background-color:red;}
.products_banner_theme{margin-left:9px;color:#FF5346;font-size:12px;}
.products_banner_time{margin-left:5px;font-size:10px;color:#999999;line-height:150%;}
.products_cb{left:0px;top:0px;width:100%;}
.products_category_btn{height:39px;width:48px;filter:alpha(opacity=80);opacity:0.8;-moz-opacity:0.8;-khtml-opacity:0.8;}
.promote_img{width:100%;}
.promote_name{margin-top:8px;font-size:16px;line-height:150%;color:#222222;}
.promote_topic_question{color:#AAAAAA;margin-top:8px;font-size:11px;line-height:137%;}
.promote_content{margin-top:8px;font-size:12px;color:#666666;line-height:150%;}
.promote_price_size{margin-top:18px;text-align:right;}
.promote_price{font-size:22px;color:#444444;}
.promote_size{font-size:13px;color:#999999;}
.products_line{border:1px solid #eee;}
.feature_background{background-color:rgb(241, 240, 237);}
.feature_title{font-size:11px;padding-left:12px;padding-top:16px;padding-bottom:8px;color:#999999;}
.feature_info_background{background-color:white;}
.feature_info{padding:12px;}
.feature_img{width:110px}
.feature_ntq{margin-left:12px;width:55%;}
.feature_name{size:15px;color:#222222;line-height:150%;}
.feature_topic_question{margin-top:10px;color:#AAAAAA;font-size:11px;}
.feature_ps{width:100%;left:0px;bottom:12px;}
.feature_price_size{text-align:right;margin-right:12px;}
.feature_price{font-size:16px;color:#444444;}
.feature_size{font-size:11px;color:#999999;}
.feature_color_block{height:10px;background-color:rgb(241, 240, 237);}
.clear{clear:both;}
.float_l{float:left;}
.float_r{float:right;}
.absolue{position:absolute;}
.relative{position:relative;}


