/*product*/
.product_body {padding:13px 15px 0 15px;}

.prodcut_pics {height:145px;}
.product_pics_img{height:145px; margin:0 auto;}

.product_detail_name {padding-top:15px;font-weight:bold;}
.product_detail_size {height: 13px; padding-top:12px;}
.product_detail_size .product_price {padding-left:6px;}
.product_detail_comment {height: 11px; padding-top:13px;padding-bottom:14px}
.product_detail_comment .product_like {padding-left:13px;}

.product_related .btn {width:33%;}
.product_related .btn .btn_content {width:88px;margin:0 auto;}
.product_related {height:20px; padding:8px 0;margin:0 auto;}
.porduct_jeshao_img,.porduct_category_img,.porduct_brand_img{margin:5px 4px 0 0;background-color:#ffffff;background-size:12px 12px;width:12px;height:12px;}
.porduct_jeshao_img{background-image:url('/static/images/icon_product_jieshao@2x.png');}
.porduct_category_img{background-image:url('/static/images/icon_product_leibie@2x.png');}
.porduct_brand_img{background-image:url('/static/images/icon_product_pinpai@2x.png');}

/*question list*/
.question_body{background-color:#f9f9f9;padding:0 15px 20px 15px;}
.question_overview{padding-top:20px;padding-bottom:10px;height:16px;}
.question_body li{position: relative;}
.question_body li .title{padding-top:10px;}
.question_body li .content{padding:8px 0 10px;}

/*product description*/
.media_logo{padding:16px 13px; width:98px;}
.product_desc_body{padding:7px 15px 17px 15px;}
.link_body{min-height:200px;background-color:#f9f9f9;padding:0 15px 20px 15px;}

.float_l{float:left;}
.float_r{float:right;}
.relative{position:relative;}
.absolue{position:absolute;}
.center{text-align:center;}
.product_c{width:100%;left:0px;top:15px;}
.product_cart{height:39px;width:48px;}
.product_cart_btn{width:48px;height:39px;}
.product_cn{width:100%;left:0px;top:3px;}
.product_cart_num{border-radius:6px;line-height:12px;color:white;font-size:8px;height:12px;width:20px;background-color:rgb(0,183,191);margin-right:5px;}
.product_market_section{height:15px;margin-top:12px;padding-bottom:50px;line-height:15px;}
.product_market_price{font-size:16px;}
.product_market_size{color:rgb(153,153,153);font-size:13px;}
.product_market_price_btn{;margin-left:9px;height:15px;width:30px;}
.product_like_nb{width:100%;left:0px;bottom:15px;}
.product_like_num{height:44px;font-size:12px;color:#999999;line-height:77px;overflow:hidden;margin-left:8px;}
.product_like_btn{border-radius:50%;height:44px;width:44px;}
.product_fenpu_goods{padding-top:14px;padding-bottom:14px;}
.product_fenpu_price{color:#FF5346;font-size:22px;}
.product_fenpu_size{color:#999999;font-size:12px;}
.product_fenpu_seller{margin-top:11px;font-size:12px;color:#999999;}
.product_in_cart_b{width:100%;left:0px;bottom:19px;height:30px;}
.product_in_cart_btn{line-height:30px;font-size:12px;height:30px;width:85px;color:#FFFFFF;background-color:rgb(255,83,70);border-radius:7%;}
.product_consult{padding-top:17px;padding-bottom:17px;height:15px;}
.product_why_btn{height:15px;width:15px;}
.product_why_character{color:#CB6358;font-size:13px;margin-left:6px;}
.product_service_cb{width:100%;left:0px;bottom:16px;height:17px;}
.product_service_character{color:#666666;margin-left:6px;font-size:12px;}
.product_service_btn{height:17px;width:19px;}
















