/*product*/
.product_body {padding:13px 0px 0px 0px;}

.prodcut_pics {height:145px;}
.product_pics_img{height:145px; margin:0 auto;}

.product_detail_name {padding-top:15px;font-weight:bold;}
.product_detail_size {height: 13px; padding-top:12px;}
.product_detail_size .product_price {padding-left:6px;}
.product_detail_comment {height: 11px; padding-top:13px;padding-bottom:14px}
.product_detail_comment .product_like {padding-left:13px;}

.product_related .btn {width:33%;}
.product_related .btn .btn_content {width:88px;margin:0 auto;}
.product_related {height:44px;padding:10px 0;margin:0 auto;}
.porduct_jeshao_img,.porduct_category_img,.porduct_brand_img{margin:5px 4px 0 0;background-color:#ffffff;background-size:12px 12px;width:12px;height:12px;}
.porduct_jeshao_img{background-image:url('/static/images/icon_product_jieshao@2x.png');}
.porduct_category_img{background-image:url('/static/images/icon_product_leibie@2x.png');}
.porduct_brand_img{background-image:url('/static/images/icon_product_pinpai@2x.png');}

/*question list*/
.question_body{background-color:#f9f9f9;padding:0 15px 20px 15px;}
.question_overview{padding-top:20px;padding-bottom:10px;height:16px;}
.question_body li{position: relative;}
.question_body li .title{padding-top:10px;}
.question_body li .content{padding:8px 0 10px;}

.product_topic_topic{padding-top:12px;padding-bottom:12px;}
.product_topic_img{width:80px;}
.product_topic_tc{width:64%;margin-left:12px;}
.product_topic_title{max-height:25.6px;overflow:hidden;}
.product_topic_content{margin-bottom:12px;margin-top:4px;overflow:hidden;max-height:44px;font-size:14px;line-height:22px;}
.product_topic_no_title{overflow:hidden;max-height:66px;font-size:14px;line-height:22px;margin-bottom:12px;}
.product_topic_lc_section{width:100%;height:12px;bottom:12px;left:0px;}
.product_topic_lc{height:12px;}
.product_topic_like_btn{height:12px;width:12px;}
.product_topic_like_comment{height:12px;line-height:12px;font-size:11px;}
/*product description*/
.media_logo{padding:16px 13px; width:98px;}
.product_desc_body{padding:7px 15px 17px 15px;}
.link_body{min-height:200px;background-color:#f9f9f9;padding:0 15px 20px 15px;}

.clear{clear:both;}
.float_l{float:left;}
.float_r{float:right;}
.relative{position:relative;}
.absolue{position:absolute;}
.center{text-align:center;}
.product_c{width:100%;left:0px;top:15px;}
.product_cart_btn{width:22px;height:22px;}
.product_market_section{height:15px;line-height:15px;margin:10px auto 0px;}
.product_market_ps{margin-left:4px;}
.product_market_price{font-size:13px;}
.product_market_size{color:rgb(153,153,153);font-size:13px;}
.product_market_price_btn{height:15px;width:30px;}
.product_like_nb{width:100%;left:0px;bottom:15px;}
.product_like_num{height:44px;font-size:12px;color:#999999;line-height:77px;overflow:hidden;margin-left:8px;}
.product_like_btn{border-radius:50%;height:44px;width:44px;}
.product_fenpu_goods{padding-top:14px;padding-bottom:14px;padding-left:15px;padding-right:15px;border-bottom:1px solid #eeeeee;}
.product_fenpu_price{color:#FF5346;font-size:18px;}
.product_fenpu_size{color:#999999;font-size:12px;}
.product_fenpu_no_price{font-size:18px;color:rgb(153,153,153);}
.product_consult{width:20%;right:0px;bottom:14px;}
.product_service_cb{margin-right:20px;}
.product_service_character{color:#666666;font-size:12px;}
.product_service_btn{height:21px;width:18px;}

.product_cart_container{border-top:1px #e4e4e4 solid;background-color:rgba(255,255,255,.96);height:60px;line-height:60px;width:100%;position:fixed;bottom:0px;left:0px;z-index:10000;padding:0px 10px;}
.product_cart_container .cart_download{width:150px;height:44px;padding:8px 6px }
.product_cart_container .cart_download .btn_t_download{background-size:150px 44px;width:150px;height:44px;margin:0px auto;background-image:url('http://static.fenpuwang.com/images/img_products_detail_download.png');}
.product_cart_container .show_cart{border:1px #dbdbdb solid;width:135px;height:36px;font-size:16px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;margin:12px 15px 12px 3px;}
.product_cart{margin:0;padding:0;height:36px;width:36px;text-align:center;}
.product_cart_in{padding-left:48px;width:135px;height:36px;line-height:36px;display:block;color:#666666;font-size:13px;}
.product_cart_in:visited{color:#666666}
.product_cn{width:100%;left:0px;top:3px;}
.product_cart_num{border-radius:6px;line-height:12px;color:white;font-size:6px;height:12px;width:20px;background-color:rgb(0,183,191);margin-right:3px;}
.ico-succ{margin:0 auto;width:200px;background-color:rgba(0,0,0,0.65);color:#fff;}
.cart-pop .ico-succ span{display:block;text-align:center}

.product_in_cart_btn{background-color:#4BAAB9;height:32px;width:200px;margin:10px auto 0px;font-size:12px;color:#fff;line-height:32px;border-radius:3px;}
.product_why_btn{height:15px;width:15px;}
.product_why_character{color:#666666;font-size:12px;line-height:15px;}
.product_fenpu_seller{font-size:12px;color:#999999;}
.product_gray_block{margin-top:16px;background-color:#f9f9f9;height:12px;border-top:1px solid #eeeeee;border-bottom:1px solid #eeeeee;}
.product_nickname{margin-top:10px;color:rgb(153,153,153);font-size:11px;}
.marg_t_oz{margin-top:10px;}
.product_why_bc{width:80%;margin-top:10px;height:15px;}
