.question-body {
    width: 100%;
    min-height: 100px;
    margin-top: 30px;
}

.question-title {
    font-size: 16px;
}

.question-avatar {
    float:left;
}

.profile-name {
    float:left;
    margin-left:20px;
}

.profile-property {
    float: left;
    margin-left:20px;
}

.post-date {
    float: right;
}

.question-desc {
    line-height: 24px;
    clear: both;
}

.answer-body {
    width: 100%;
    background-color: #f9f8f5;
}

.answer-avatar {
    float: left;
}
.answer-profile-property {
    float: right;
    margin-left: 20px;
}

.answer-content {
    clear: both;
}

.answer-item {

}

.related-question-body {
    background-color: #ffffff;
}

.related-question-item {
    clear: both;
    display: inline-block;
    width: 100%;
}

.related-question-title {
    float: left;
}

.related-question-answer-num {
    float: right;
}