.relative{position:relative;}
.absolute{position:absolute;}
.div_center{margin:0px auto;}
.text_center{text-align:center;}
.float_l{float:left;}
.float_r{float:right;}

.tomorrow_img{width:100%;margin-top:13px;}
.banner_ing_img,.banner_img{width:100%;}
.banner_button_section{width:100%;left:0px;bottom:12%;}
.tomorrow_button_section{width:100%;left:0px;bottom:11%;}
.tomorrow_button{color:#6c4608;text-align:center;}
.banner_button{color:#fff;text-align:center;}
.countdown_letter{color:#666666;font-weight:bold;}
.countdown_time{color:#ff5346;font-weight:bold;}
.seckill_letter{color:#666666;font-weight:bold;}
.seckill_time{color:#ff5346;font-weight:bold;}
.seckill_letter_time{width:100%;left:0px;bottom:51%;}
.countdown_letter_time{width:100%;left:0px;bottom:56%;}

.seckill_limit{margin-top:10px;height:18px;}
.seckill_limit_img{margin-left:12px;height:18px;width:18px;}
.seckill_limit_num{font-size:13px;color:#ff5346;line-height:18px;margin-left:5px;}
.seckill_product_img{height:300px;margin-top:8px;}
.seckill_product_name{font-size:17px;color:#222;margin-top:8px;font-weight:bold;width:75%;margin:0 auto 8px;}
.seckill_price_section{height:25px;width:100%;text-align:center;}
.seckill_promote_price{font-size:22px;color:#ff5346;margin-left:7px;}
.seckill_origin_price{font-size:14px;color:#999;margin-left:6px;text-decoration:line-through;}
.seckill_discount{width:30px;background-color:#4baab9;font-size:9px;color:#fff;padding:3px 5px;}
.seckill_promote_price,.seckill_origin_price,.seckill_discount{vertical-align:middle;}

.seckill_pre_detail{width:75%;height:36px;line-height:36px;font-size:14px;border:1px solid #ff5346;border-radius:3px;margin:10px auto;color:#ff5346;}
.seckill_detail_cart{height:36px;width:75%;margin:10px auto;}
.seckill_detail_button{width:38%;border:1px solid #ff5346;height:34px;font-size:14px;line-height:32px;border-radius:3px;color:#ff5346;}
.seckill_cart_button{width:56%;background-color:#4baab9;font-size:14px;height:36px;line-height:36px;color:white;margin-left:4%;border-radius:3px;}
.seckill_detail_description{width:75%;margin:15px auto;font-size:14px;line-height:180%;color:#444;}
.sold_out{background-color:rgba(75,170,185,.2);color:#6b8083;}

.tomorrow_price_section{height:25px;width:100%;text-align:center;}
.tomorrow_promote_price{font-size:22px;color:#ff5346;line-height:18px;margin-left:7px;}
.tomorrow_origin_price{font-size:14px;color:#999;line-height:25px;margin-left:6px;}

.seckill_line{border-bottom:solid 1px #e4e4e4;margin-top:16px;}
.seckill_bottom{height:50px;}

.marg_l_ft{margin-left:53%;}
.flow_con{width:100%;height:36px;padding:7px 0;position:fixed;left:0px;bottom:0px;background:#fff;border-top:1px #e4e4e4 solid;}
.flow_box{float:left;width:36%;margin-left:3%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.flow_tip{font-size:10px;color:#666;}
.flow_time{font-size:16px;color:#4baab9;}
.flow_cart_btn{float:left;border-radius:3px;background-color:#ffb337;color:#6c4608;font-size:13px;line-height:36px;height:36px;width:56%;text-align:center;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}

