@CHARSET "UTF-8";
/*   通用样式  begin   */
html,body,div,span,iframe,h1,h2,h3,h4,h5,h6,p,pre,a,em,font,img,small,strong,b,u,i,s,dl,dt,dd,ol,ul,li,fieldset,form,label {padding:0px;margin:0px;}
a,img {border:0;}
ul {list-style:none;}
li {list-style-type:none;}
input,select{vertical-align:middle;}
h1, h2, h3, h4, h5, h6 {font-weight:normal; font-size:12px;}
/* 鼠标样式 */
.pointer{ cursor:pointer;}
/* 取消边框 */
.noborder{ border:0 none;}
/* 文本对齐方式 */
.t_l{ text-align:left;}
.t_c{ text-align:center;}
.t_r{ text-align:right;}
/* 字母和单词换行设置，强制内容换行，强制内容不换行 */
.break { word-break:break-all; word-wrap:break-word;}
.nobreak { word-break:keep-all; word-wrap:normal;}
/* 定位关系 */
.absolute{ position:absolute;}
.relative{ position:relative;}
/* 浮动定义 */
.fl {float:left; }
.fr {float:right; }
/* 定义文本下划线 */
.unline{ text-decoration:underline;}
.disunline{ text-decoration:none;}
/* 隐藏元素，visibility可以隐藏元素，但是还是会在布局中占位 */
.invisible{ visibility:hidden;}
/* 从页面布局上隐藏元素，从布局上隐藏元素 */
.hidden{ display:none;}
.block{ display:block;}
/* 清理浮动元素,当浮动换行时后面元素不希望浮动，添加此属性，防止IE BUG */
.clear{ clear:both; height:0px; width:100%; font-size:1px; line-height:0px; visibility:hidden; overflow:hidden;}
/* 容器 */
.wrapper{ clear:both; overflow:hidden;}
/*   通用样式  end   */

/* m站特定样式  */
html body, html input, html textarea, html select, html button {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	}

	body {
	    margin: 0px;
		    min-width:320px;
			}
			/* m站主结构  begin */
			#top-navigation-bar,#main-content{
			    width: 100%;
				}
				#main-content {
				    min-height: 400px;
					}
					.s_avatar{width:18px;height:18px;}
					/*  font color */
					.fcb1{color:#222222;}/* 主级别文字*/
					.fcg1{color:#aaaaaa;}/* 弱级别文字*/
					.fcg2{color:#666666;}/* 次级别文字*/
					.fcprice{color:#cc9793}
					/*  字号  */
					.f15{font-size:15px;}
					.f14{font-size:14px;}
					.f13{font-size:13px;line-height:19px;}
					.f10{font-size:10px;}
					/*  产品图片边框  */
					.imgborder1{border:1px solid #dbdbdb;}
					/*  分割线  */
					.sp_line{border-bottom:1px solid #eeeeee;width:100%;}
					.sp_line2{border-bottom:1px solid #dbdbdb;width:100%;}
					/*  loaddding */
					#data-loadding,#data-loadding img{position:absolute;top:0px;left:0px;z-index:9999;}
					#data-loadding{background-color:#000;-moz-opacity:0.8; opacity:0.8;-khtml-opacity: 0.8}
					/* m站主结构  end  */
					/* 顶部下载  */
					.bg{background-repeat: no-repeat;background-position:center center;}
					.download{height:87px; background-color:#3e3930;}
					.download .close,.download .info,.download .btns{position:absolute;}
					.download .info,.download .btns{width:100%;}
					.download .info{top:12px;}
					.download .btns{bottom:5px;}
					.download .btns div{width:50%;}
					.download .close{z-index:50;background-image:url('../images/btn_banner_cancel_normal.png');width:15px;height:15px;left:5px;top:5px;}
					.download .btn_download,.download .btn_openapp{cursor:pointer;background-size:78px 27px;width:78px;height:27px;}
					.download .btn_download{background-image:url('../images/btn_banner_download_normal.png');}
					.download .btn_openapp{background-image:url('../images/btn_banner_open_normal.png');}
					/*  顶部导航  */
					.nav_bar{height:44px;width:100%;}
					.nav{z-index:999;background-color:#ff5346;height:44px;overflow:hidden;position:relative;left:0;top:0;width:100%;}
					.nav img{cursor:pointer;}
					.nav ul{width:80%;}
					.nav ul,.nav .icon_btn{position:absolute;top:13px;}
					.nav ul li{float:left;display:block;padding:0 3%;color:#ffddda;cursor:pointer;}
					.nav ul .on{font-weight:bold;color:#fff;}
					.nav .icon_btn{width:40%;right:3%;}
					.nav .top_search{height:44px;}
					.nav .top_search .closebox{width:10%;min-width:40px;}
					.nav .top_search .inputbox{width:80%;min-width:260px;}
					.nav .top_search .close{margin:14px 12px;background-size:16px 16px;width:16px;height:16px;background-image:url('../images/btn_nav_cancel_normal.png');}
					.nav .top_search .keyword{margin-top:6px;width:100%;border:1px  #eeeeee solid;background-color:#fff;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;height:27px;}
					.nav .top_search .search_icon{right:3%;top:14px;}
					.nav .top_search .index{width:75%;min-width:230px;}
					.nav .top_search .on{background-color:#fff;background-image:url('../images/btn_nav_search_pressed.png');}
					.nav .feed_filter{margin:2px 0 0 5%;background-size:21px 13px;width:21px;height:13px;background-image:url('../images/btn_nav_shaixuan_normal.png');}
					.nav .search_icon{border:0px;background-color:#ff5346;background-size:17px 17px;width:17px;height:17px;background-image:url('../images/btn_nav_search_normal.png');}
					/*    feeds  filter  */
					.feed_filter_box{z-index:50;background:url('../images/filter_feed_bg_line.png');box-shadow:0 0 5px #999;-webkit-box-shadow:0 0 5px #999;-moz-box-shadow:0 0 5px #999;}
					.feed_filter_box li{color:#d3b5af;display:block;height:13px;padding:17px 25px;font-size:12px;float:left;}
					.feed_filter_box .on{color:#ff5346;}
					/*   search */
					.search_box{height:166px;padding-top:18px;}
					.search_box h1{background-size:48px 22px;width:48px;height:22px;background-image:url('../images/img_fenpu.png');margin:0 auto;}
					.search_box h2{background-size:125px 14px;width:125px;height:14px;background-image:url('../images/img_solo.png');margin:12px auto 0;}
					.search_box .search_input_box{margin:18px auto 0;}
					.search_box ul{height:45px;margin:0 auto; width:90%;}
					.search_box ul  li{height:45px;}
					.search_box ul .l_b{background:url('../images/bg_input_left.png');width:2px;}
					.search_box ul .c_b{background:url('../images/bg_input_middle.png');width:98%;}
					.search_box ul .r_b{background:url('../images/bg_input_right.png');width:2px;}
					.search_box #index_keyword{padding-left:3%;left:10%;width:80%;border:1px  #eeeeee solid; background-color:#f9f9f9;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;height:45px;}
					.search_box #index_btn_search{top:16px;border:0px;right:13% ;background-color:#f9f9f9;background-size:17px 17px;width:17px;height:17px;background-image:url('../images/btn_seach_bar_search_normal.png');}
					@media only screen and (-webkit-min-device-pixel-ratio: 1.5), not all {
					    .download .btn_download{background-image:url('../images/btn_banner_download_normal@2x.png');}
						    .download .btn_openapp{background-image:url('../images/btn_banner_open_normal@2x.png')}
							}
