
html body, html input, html textarea, html select, html button {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

body {
    padding-top:45px;
    margin: 0px;
}

#top-navigation-bar {
    height: 45px;
    width: 100%;
    position:fixed;
    top: 0;
    background-color: #422422;
}

#main-content {
    width: 940px;
    min-height: 400px;
    margin-left: auto;
    margin-right: auto;
}

