.text_center{text-align:center;}
.div_center{margin:0px auto;}
.float_l{float:left;}
.float_r{float:right;}
.width_per_half{width:50%;}
.width_per_fe{width:35%;}
.width_per_all{width:100%;}
.width_per_tf{width:25%;}
.topic_choice{line-height:32px;height:32px;text-align:center;margin:0px auto;width:100px;border-bottom:2px solid #ff5346;font-size:14px;color:#444;}
.topic_new{line-height:32px;height:32px;text-align:center;margin:0px auto;width:100px;border-bottom:2px solid #fff;font-size:14px;color:#999;}
.topic_list_title{font-size:14px;color:#222;margin-bottom:6px;line-height:14px;}
.topic_list_content{font-size:12px;color:#666666;line-height:19px;margin-bottom:8px;max-height:38px;overflow:hidden;}
.topic_list_content_notitle{font-size:12px;color:#666666;line-height:19px;margin-bottom:8px;max-height:57px;overflow:hidden;}
.topic_list_user_name{font-size:13px;color:#CB6356;line-height:18px;margin-left:9px;}
.topic_list_likeNum{font-size:12px;color:#999;line-height:12px;}
.topic_list_commentNum{font-size:12px;color:#999;line-height:12px;}
.topic_list_user_avatars{border-radius:50%;float:left;height:18px;width;18px;}
.topic_list_user{padding-top:10px;padding-left:12px;padding-right:12px;padding-bottom:12px;border-bottom:1px solid #dbdbdb;}
.topic_list_likeIcon{height:12px;width:12px;background-image:url('../images/icon_f_topic_collected@2x.png');background-size:12px 12px;}
.topic_list_commentIcon{height:12px;width:13px;background-image:url('../images/icon_f_topic_comment@2x.png');background-size:13px 12px;}
.topic_detail_time{font-size:10px;color:#aaa;}
.topic_detail_user_name{font-size:14px;margin-bottom:8px;color:#666;}
.topic_detail_user_avatars{width:34px;height:34px;float:left;border-radius:50%;background-size:34px 34px;}
.topic_detal_likeNum{font-size:12px;line-height:12px;}
.topic_detail_commentNum{font-size:12px;line-height:12px;}
.topic_detail_likeIcon{height:12px;width:12px;background-image:url('../images/icon_f_topic_collected@2x.png');background-size:12px 12px;}
.topic_detail_commentIcon{height:12px;width:13px;background-image:url('../images/icon_f_topic_comment@2x.png');background-size:13px 12px;}
.nav ul a li .arrow_btn{margin-top:13px;background-size:20px 17px;width:20px;height:17px;background-image:url('../images/btn_nav_back_normal@2x.png');}
.nav .nav_inner ul .on{font-weight:bold;color:#fff;line-height:44px;text-align:center;} 
.divide_line{border-bottom:2px solid #ebebeb;}
.typeface{padding-bottom:8px;padding-top:20px;font-size:11px;color:gray;}
.comment_mainbody{padding-left:12px;padding-right:12px;padding-bottom:12px;background-color:#f9f8f5;}
.comment_time{font-size:8px;color:#aaa;}
.comment_content{font-size:13px;color:#444;margin-bottom:12px;}
.comment_divide_line{border-bottom:1px solid #f3f3f1;margin-bottom:10px;}
.user_name{font-size:12px;color:#666;margin-bottom:2px;}
.user_avatars{width:24px;height:24px;border-radius:50%;background-size:24px 24px;}
.be_comment_section{font-size:11px;color:#999;background-color:#f4f3ef;line-height:16px;margin-bottom:12px;padding:6px 8px;}
.bgc_w{background-color:white;}
.height_three_five{height:35px;}
.height_tf{height:34px;}
.height_oe{height:18px;}
.height_two_four{height:24px;}
.height_ot{height:12px;}
.height_fz{height:40px;}
.width_two_four{width:24px;}
.width_oe{width:18px;}
.pad_l_e{padding-left:8px;}
.marg_b_t{margin-bottom:10px;}
.marg_b_oe{margin-bottom:18px;}
.marg_t_of{margin-top:14px;}
