.topic_list{padding:12px;background-color:#ebebeb;}
.topic_list li{margin-bottom:12px;background-color:#fff; }
.topic_list img{width:100%;}
.topic_list .imgBox{ width:100%;overflow:hidden;}
.topic_list .contentBox{padding:12px 16px 18px; text-align:center;}
.topic_list .contentBox h2{font-size:18px;line-height:27px;}
.topic_list .contentBox .introduction{position:relative;padding:0 16px;margin:8px 0 18px;color:#666;font-size:13px;line-height:27px;}
.topic_list .contentBox .introduction .lq,.contentBox .introduction .rq{position:absolute;background-size:8px 7px;width:8px;height:7px;}
.topic_list .contentBox .introduction .lq{left:0px;top:0px;background-image:url('../images/img_f_topic_quote_list_left@2x.png');}
.topic_list .contentBox .introduction .rq{right:0px;bottom:0px;background-image:url('../images/img_f_topic_quote_list_right@2x.png');}
.topic_list .contentBox .viewBox .line{top:4px;width:40%;border-bottom:1px #aaaaaa solid;left:30%;z-index:1;}
.topic_list .contentBox .viewBox .viewNum{left:0;top:-7px;width:100%;z-index:2;}
.topic_list .contentBox .viewBox span{padding:0 3%;background-color:#fff;margin:0 auto;}
.topic_header {margin-bottom:24px;}
.topic_header img{width:100%;}
.topic_header .line{left:0px;height:3px;bottom:-3px;z-index:2;width:100%;}
.topic_header span{padding:0 6px;font-size:14px;line-height:24px;left:-3px;bottom:-24px;color:#fff;z-index:1;height:24px;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;}
.topic_content {padding:18px 15px;}
.topic_content h1.title{font-size:20px;line-height:32px;font-weight:bold;}
.topic_content .author{text-align:right;font-size:14px;margin:12px 0;color:#666;} 
.topic_content .introduction {padding:0 21px 24px;}
.topic_content .conclusion {padding:14px 21px 3px;margin-bottom:36px;}
.topic_content .introduction .lq,.topic_content .conclusion  .rq{position:absolute;background-size:14px 11px;width:14px;height:11px;}
.topic_content .introduction .lq{background-image:url('../images/img_f_topic_quote_detail_left@2x.png');top:0px;left:0px;}
.topic_content .conclusion  .rq{background-image:url('../images/img_f_topic_quote_detail_right@2x.png');bottom:0px;right:0px;}
.topic_content .content{padding:15px 0px;}
.topic_content .content img{width:100%;border:1px #dbdbdb solid;}
.topic_content .content .con{margin-bottom:12px;}
.topic_content .con{font-size:15px;line-height:30px;}
.topic_download {height:45px;background-color:#802923;padding:20px 0px;}
.topic_download .btn_t_download{background-size:280px 44px;width:280px;height:44px;margin:0px auto;background-image:url('../images/img_download_topic@2x.png');}
.link_cell {width:100%;height:78px;border:solid 1px #dbdbdb;line-height:26px;}
.link_arrow {padding:14px 21px 3px;margin-bottom:32px;}
.link_arrow .link_arrow_i {position:absolute;background-size:9px 13px;width:9px;height:13px;}
.link_arrow_i {background-image:url('../images/icon_f_topic_arrow@2x.png');right:8px;top:32px;}
.topic_product {width:10px;height:12px;margin:6px 2px 0px 2px;background-image:url('../images/icon_f_topic_products@2x.png');background-size:10px 12px;}
.topic_topic {width:10px;height:12px;margin:6px 2px 0px 2px;background-image:url('../images/icon_f_topic_topic@2x.png');}
.topic_question {width:10px;height:12px;margin:6px 2px 0px 2px;background-image:url('../images/icon_f_topic_q_and_a@2x.png');}
.topic_outlink_img {width:10px;height:10px;margin:9px;background-image:url('../images/icon_f_topic_links@2x.png');background-size:10px 10px;}
.topic_product_img {width:78px;height:78px;}
.topic_product_img img{border:none!important;}
.topic_product_text {width:60%;height:78px;padding-top:6px;font-size:15px;line-height:17px;}
.topic_product_text .topic_product_title{padding-left:10px;padding-top:5px;height:33px;overflow:hidden;}
.topic_product_text .topic_product_price{padding-left:12px;padding-top:7px;}
