{% extends "base_topic.html" %}
{% block title %} 支付 {% endblock %}
{% block script %}
     {% load staticfiles %}
     <link rel="stylesheet" href="{% static "css/cart.css" %}?v=1.4">
	 <script type="text/javascript" src="{% static "js/cart.js"%}"></script>
{% endblock %}
{% block main_content %}
<form  id='order_form' action='{% url 'order:submit_order' %}' method='POST'>
<input type='hidden' name='orderId' value='{{ orderId }}'>
{% if not readonly %}
<div class='line'>
  <div class='label'>收货人</div>
  <div class='input'><input type='text' name='contact' value='{{ contact }}'></div>
</div>
<div class='line'>
  <div class='label'>联系电话</div>
  <div class='input'><input type='text' name='contactPhone' value='{{ contactPhone }}'></div>
</div>
<div class='line'>
  <div class='label'>收货地址</div>
  <div class='input'><input type='text' name='address' value='{{ address }}' ></div>
</div>
{% endif %}
<div class='line'>
  <span class='price_label'>总价</span><em class='price_info'>￥{{ total_num }}</em>
</div>
<div class='line payment_list'>
  <span class='price_label'>选择支付方式</span>
  <input type='hidden' id='payment' name='payment' value='0' />
  <div class='clear'></div>
  <ul>
  <li class='payment'>
     <div class='fl pay_selector on' payment_code='0'></div>
	 <div class='fl alipay'></div>
	 <div class='clear'></div>
  </li>
  <!--li class='payment'>
     <div class='fl pay_selector' payment_code='1'></div>
	 <div class='fl bank_pay'></div>
	 <div class='clear'></div>
  </li-->
  </ul>
</div>
<div class='line no_b'>
  <input type='hidden' id='cartInfo' name='cartInfo' value='{{ cartInfo }}' />
  <input class='to_pay block' type='submit' value='确认支付' />
</div>
</form>
{% endblock %}

