{% extends "base_topic.html" %}
{% block keywords %} 买买买 {% endblock %}
{% block description %} 买买买-粉扑网 {% endblock %}
{% block title %} {{ album_description.title }} {% endblock %}
{% block script %}
{% load staticfiles %}
{% load compress %}
{% compress css inline %}
<link rel="stylesheet" href="{% static "css/products.css" %}">
<link rel="stylesheet" href="{% static "css/product.css" %}">
{% endcompress %}
{% compress js inline %}
<script type="text/javascript" src="{% static "js/product_list.js" %}"></script>
{% endcompress %}
<script type="text/javascript" src="{% static "js/jquery.lazyload.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/layer.js" %}"></script>
{% endblock %}
{% block main_content %}
<img src="{{ album_description.bannerUrl }}" class="album_banner_img">
<div class="album_des">{{ album_description.content }}</div>
{% for letter in album_info  %}
<div class="feature_info_background" id="{{ letter.product.productId }}">
  <div class="products_line"></div>
  <div class="feature_color_block"></div>
  <div class="products_line"></div>  
  <div class="feature_info relative center">
    <a href="{% url "product:product_detail"  letter.product.productId %}">
    {% for img in letter.product.pics %}
      {% if forloop.counter == 1%}
          {% if img.org %}
              <img src="{{ img.org }}" class="feature_img">
          {% else %}
              <img src="{% static "images/img_product_place_holder.png"%}" class="feature_img">
          {% endif %}
      {% endif %}
    {% endfor %}
    </a>
    <a href="{% url "product:product_detail"  letter.product.productId %}">
    <div class="feature_product_info">
      <div class="feature_name">{% if letter.product.name_decoration %}{{ letter.product.name_decoration }}{% else %}{{ letter.product.name }}{% endif %}</div>
      <div class="feature_promote_des">
        {{ letter.product.promotion_description}}
        <div class="double_mark_left_section"><img src="{% static "images/img_f_topic_quote_list_left@2x.png" %}" class="double_mark_left"></div>
        <div class="double_mark_right_section"><img src="{% static "images/img_f_topic_quote_list_right@2x.png" %}" class="double_mark_right"></div>
      </div>
      {% for goods in letter.product.goods %}
      {% if forloop.counter == 1 %}
      <div class="feature_ps">
         <!--<span style="padding:3px;color:white;font-size:8px;background-color:#4baab9;height:20px;vertical-align:middle">3.5折</span>-->
         <span class="feature_price">¥{{ goods.goodsPrice }}</span>
         <span class="feature_size">/{{ goods.size }}</span>
      </div>
      {% endif %}
      {% endfor %}
    </div>
    </a>
    <div class="feature_line"></div>
    <div class="detail_cart">
    <a href="{% url "product:product_detail"  letter.product.productId %}"><div class="more">查看详情</div></a>
    <div class="recommend_in_cart"  product_info_url = "{% url "products:product_info" letter.product.productId %}">加入购物车</div>
  </div>
  <div class="feature_line"></div>
</div>
{% endfor %}
<div class='product_cart_container'>
  <div class='cart_download fl'><a id='bd_topic_download' onclick="ga('send', 'event', '应用', '下载', '底部');_hmt.push(['_trackEvent', 'software', 'download','top
ic_info_{{ featureTopic.featureTopicId }}']);" href='http://www.dabanniu.com/download.phtml' class="bg btn_t_download block" ></a></div>
  <div class='show_cart fr fcb1'>
    <div class="relative fl product_cart">
       <img style="padding:7px 0px" src="{% static "images/icon_products_detail_shopping_cart.png" %}" class="product_cart_btn">
       <div class="absolute product_cn">
         <div class="center float_r product_cart_num">{{ cartNum }}</div>
       </div>
    </div>
    <a class="product_cart_in" href="{% url 'cart:cart_index' %}">查看购物车</a>
  </div>
  <div class='clear'></div>
</div>
<!--多规格弹层-->
<div  class="product_more_standard">
   <div class="relative layer_product_info">
     <div class="float_l layer_product_img_div">
      <div class="layer_product_img">
        <img src="" class="product_info_img">
      </div>
     </div>
     <div class="float_l product_layer_info">
        <div class="layer_product_name">雅诗兰黛</div>
        <!--<div style="margin-top:3px;" class="product_fixed_ps" goodsId="{{ goods.goodsId }}"><span style="color:#ff5346;font-size:14px;">¥99</span><span style="color:#dbdbdb;font-size:10px;">/30g</span></div>-->
     </div>
     <div class="absolute exit_section">
          <img src="{% static "images/btn_product_detail_incart_cancel_normal@2x.png" %}" class="exit_btn">
     </div>
   </div>
   <!--<div style="height:36px;min-width:85px;margin-left:5%;margin-top:16px;" class="float_l haha">
     <div style="border:1px solid #666;font-size:12px;line-height:36px;padding-left:5px;padding-right:5px;" class="center abc" sizeId="{{ goods.goodsId }}">30g</div>
   </div>-->
   <div class="clear"></div>

   <div class="top_split_line"></div>
 <!--  <div style="height:85px;margin-left:5%;line-height:40px;font-size:12px;" class="product_send_time" timeId="{{ goods.goodsId }}">2-5天内发货</div>-->
   <div class="bottom_split_line"></div>
   <div class="realative increase_decrease">
       <img src="{% static "images/btn_product_incart_decrease_disabled@2x.png" %}" class="float_l product_decrease">
       <div class="product_num">1</div>
       <img src="{% static "images/btn_product_incart_increase_normal@2x.png" %}" class="float_l product_increase">
       <div class="absolute product_in_cart_section">
          <div class="center product_in_cart" add_cart_url = "{% url "product:add_in_cart" %}">加入购物车</div>
       </div>
   </div>
  </div>
{% endblock %}
  <!-- end -->

  <!--遮盖-->
  {% block cover %}
  <div class="absolute cover_layer"></div>
  <!--end-->
<script>
   $(document).ready(function(){
      $(".bottom_download").hide();
      $(".feature_ntq").css("width",parseInt($(".feature_info").width())-132);
      $(".feature_img").lazyload({
        placeholder:"{% static "images/img_product_place_holder_cell@2x.png" %}",
        threshold:200,
      });
      var button_width = ($("#main-content").width()-1)/2;
      $(".more").css("width",button_width);
      $(".recommend_in_cart").css("width",button_width);
      $(".detail_cart").show();
   });
  var current_num = parseInt($(".product_num").html());
  $(document).ready(function(){
    $(".product_increase").click(function(){
       current_num = current_num + 1;
       $(".product_num").html(current_num);
       if(current_num == 2){
         $(".product_decrease").attr("src","{% static "images/btn_product_incart_decrease_normal@2x.png" %}");
       }
    });
    $(".product_decrease").click(function(){
      if(current_num > 1){
         current_num = current_num - 1;
         $(".product_num").html(current_num);
      }
      if(current_num == 1){
         $(".product_decrease").attr("src","{% static "images/btn_product_incart_decrease_disabled@2x.png" %}");
      }
    });
    $(".product_increase").mousedown(function(){
             $(".product_increase").attr("src","{% static "images/btn_product_incart_increase_pressed@2x.png" %}");
    });
    $(".product_increase").mouseup(function(){
             $(".product_increase").attr("src","{% static "images/btn_product_incart_increase_normal@2x.png" %}");
    });
    $(".product_decrease").mousedown(function(){
         if(current_num !=1 ){
             $(".product_decrease").attr("src","{% static "images/btn_product_incart_decrease_pressed@2x.png" %}");
         }
    });
    $(".product_decrease").mouseup(function(){
         if(current_num !=1 ){
             $(".product_decrease").attr("src","{% static "images/btn_product_incart_decrease_normal@2x.png" %}");
         }
    });
  });
</script>
{% endblock %}
