{% extends "base.html" %}
{% block title %} 产品库 {% endblock %}
{% block script %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "css/products.css" %}" >
	<script type="text/javascript" src="{% static "js/products.js" %}"></script>
{% endblock %}
{% block main_content %}
<div class='filter_list_box'>
  <div class='filter_flow_box'>
    <ul class='filter_list'>
	<li  class='on'><div class='p_t_2'></div>功效</li>
	<li><div class='p_t_0'></div>护肤</li>
	<li><div class='p_t_1'></div>美妆</li>
	<li><div class='p_t_3'></div>品牌
	<a class="brand_filter_btn block absolute" ></a>
	</li>
	</ul>
  </div>
</div>
	<div class='brand_filter_box absolute hidden'>
	   <ul>
        <li><a href='#A'>A</a></li>
        <li><a href='#B'>B</a></li>
        <li><a href='#C'>C</a></li>
        <li><a href='#D'>D</a></li>
        <li><a href='#E'>E</a></li>
        <li><a href='#F'>F</a></li>
        <li><a href='#G'>G</a></li>
        <li><a href='#H'>H</a></li>
        <li><a href='#I'>I</a></li>
        <li><a href='#J'>J</a></li>
        <li><a href='#K'>K</a></li>
        <li><a href='#L'>L</a></li>
        <li><a href='#M'>M</a></li>
        <li><a href='#N'>N</a></li>
        <li><a href='#O'>O</a></li>
        <li><a href='#P'>P</a></li>
        <li><a href='#Q'>Q</a></li>
        <li><a href='#R'>R</a></li>
        <li><a href='#S'>S</a></li>
        <li><a href='#T'>T</a></li>
        <li><a href='#U'>U</a></li>
        <li><a href='#V'>V</a></li>
        <li><a href='#W'>W</a></li>
        <li><a href='#X'>X</a></li>
        <li><a href='#Y'>Y</a></li>
        <li><a href='#Z'>Z</a></li>
	   </ul>
      <div class='clear'></div>
    </div>
	<ul class='p_t_0_list product_category_list hidden' >
	    {% for category in data.skincareCategoryList %}
	        <li><a href='{% url 'products:query_by_category' 0 category.categoryId  %}'>{{ category.name }}</a></li>
	    {% endfor %}
	</ul>
    <ul class='p_t_1_list product_category_list hidden' >
	    {% for category in data.makeupCategoryList %}
	        <li><a href='{% url 'products:query_by_category' 1 category.categoryId  %}'>{{ category.name }}</a></li>
	    {% endfor %}
	</ul>
    <ul class='p_t_2_list product_category_list' >
	    {% for category in data.effectList %}
	        <li><a href='{% url 'products:query_by_category' 2 category.categoryId  %}'>{{ category.name }}</a></li>
	    {% endfor %}
	</ul>
    <ul class='p_t_3_list product_category_list hidden' >
	    {% for brandList in data.brandList %}
             <li><em class='fchl''>{{ brandList.key }}</em><a  name='{{ brandList.key }}'></a></li>
             {% for category in brandList.list %}
                <li><a href='{% url 'products:query_by_category_order' 3 category.categoryId 7 %}'>{{ category.name }}</a>{{ category.enName }}</li>
            {% endfor %}
	    {% endfor %}
	</ul>
{% endblock %}
