 {% load staticfiles %}
 {% for products_feature in products_feature_list %}
 <div class="feature_info_background" id="{{ products_feature.productId }}">
   <div class="products_line"></div>

   <div class="feature_info relative center">
      <a href="{% url "product:product_detail"  products_feature.productId %}">
     {% if products_feature.thumb_s %}
     <img data-original="{{ products_feature.thumb_s }}" class="feature_img">   
     {% else %}
     <img src="{% static "images/img_product_place_holder.png"%}" class="feature_img">
     {% endif %}
     </a>
     <a href="{% url "product:product_detail"  products_feature.productId %}">
     <div class="feature_product_info">
       <div class="feature_name">{% if products_feature.name_decoration %}{{ products_feature.name_decoration }}{% else %}{{ products_feature.name }}{% endif %}</div>
       <div class="feature_promote_des">
           {{ products_feature.promotion_description}}
           <div class="double_mark_left_section"><img src="{% static "images/img_f_topic_quote_list_left@2x.png" %}" class="double_mark_left"></div>
           <div class="double_mark_right_section"><img src="{% static "images/img_f_topic_quote_list_right@2x.png" %}" class="double_mark_right"></div>
       </div>
       {% for goods in products_feature.goods %}
       {% if forloop.counter == 1 %}
       <div class="feature_ps">
          <!--<span style="padding:3px;color:white;font-size:8px;background-color:#4baab9;height:20px;vertical-align:middle">3.5折</span>-->
          <span class="feature_price">¥{{ goods.goodsPrice }}</span>
          <span class="feature_size">/{{ goods.size }}</span>
       </div>
       {% endif %}
       {% endfor %}
     </div>
     </a>
     <div class="feature_line"></div>
     <div class="detail_cart">
        <a href="{% url "product:product_detail"  products_feature.productId %}"><div class="more">查看详情</div></a>
        <div class="recommend_in_cart" product_info_url = "{% url "products:product_info" products_feature.productId %}">加入购物车</div>
     </div>
     <div class="feature_line"></div>
   </div>
   
   <div class="products_line"></div>
   <div class="feature_color_block"></div>
 </div>

 {% endfor %}
