{% extends "base.html" %}
{% block keywords %} 买买买 {% endblock %}
{% block description %} 买买买-粉扑网 {% endblock %}
{% block title %} 买买买 {% endblock %}
{% block script %}
{% load staticfiles %}
{% load compress %}
{% compress css inline %}
<link rel="stylesheet" href="{% static "css/products.css" %}?v=2.5">
<link rel="stylesheet" href="{% static "css/product.css" %}?v=2.5">
{% endcompress %}
{% compress js inline %}
<script type="text/javascript" src="{% static "js/product_list.js" %}"></script>
{% endcompress %}
{% endblock %}
{% block main_content %}
{% for activity in flash_activity %}
<a href="{{ activity.data.url}}">
<div>
  <img src="{{ activity.pic }}" class="promote_img fl">
</div>
<div class='clear'></div>
</a>
{% endfor %}
<div class="feature_background">
 <div class="feature_title">热门推荐</div>
 <div class='datalist'>
 {% include "products/products_recommend_list.html" %} 
 </div>
</div>

<div class='product_cart_container'>
  <div class='cart_download fl'><a id='bd_topic_download' onclick="ga('send', 'event', '应用', '下载', '底部');_hmt.push(['_trackEvent', 'software', 'download','topic_info_{{ featureTopic.featureTopicId }}']);" href='http://www.dabanniu.com/download.phtml' class="bg btn_t_download block" target="_blank"></a></div>
  <div class='show_cart fr fcb1'>
    <div class="relative fl product_cart">
       <img style="padding:7px 0px" src="{% static "images/icon_products_detail_shopping_cart.png" %}" class="product_cart_btn">
       <div class="absolute product_cn">
         <div class="center float_r product_cart_num">{{ cartNum }}</div>
       </div>
    </div>
    <a class="product_cart_in" href="{% url 'cart:cart_index' %}">查看购物车</a></div>
  <div class='clear'></div>
</div>
</div>
<script type="application/javascript">
$(".datalist").loaddata({
  url : "{{ url }}"
});
$(document).ready(function(){
  $(".footer_download").hide();
});
</script>
{% endblock %}
