 {% load staticfiles %}
 {% for products_feature in products_feature_list %}
 <div class="feature_info_background">
   <div class="products_line"></div>

   <a href="{% url "product:product_detail"  products_feature.productId %}">
   <div class="feature_info relative">
     {% if products_feature.thumb_s %}
     <img data-original="{{ products_feature.thumb_s }}" class="float_l feature_img">   
     {% else %}
     <img src="{% static "images/img_product_place_holder.png"%}" class="float_l feature_img">
     {% endif %}
     <div class="float_l feature_ntq">
         <div class="feature_name">{% if products_feature.name_decoration %}{{ products_feature.name_decoration }}{% else %}{{ products_feature.name }}{% endif %}</div>
         <div class="feature_topic_question">{{ products_feature.topicNum }}笔记&nbsp;&nbsp;&nbsp;{{ products_feature.questionNum }}问答</div>
     </div>
     <div class="clear"></div>
     <div class="absolute feature_ps">
         {% for goods in products_feature.goods %}
         {% if forloop.counter == 1 %}
         <div class="feature_price_size"><span class="feature_price">¥{{ goods.goodsPrice }}</span><span class="feature_size">/{{ goods.size }}</span></div>
         {% endif %}
         {% endfor %}
     </div>
   </div>
   </a>
   
   <div class="products_line"></div>
   <div class="feature_color_block"></div>
 </div>

 <script>
  $(document).ready(function(){
     $(".feature_ntq").css("width",parseInt($(".feature_info").width())-132);
     $(".feature_img").lazyload({
       placeholder:"{% static "images/img_product_place_holder_cell@2x.png" %}",
       threshold:200,
     });
  });
 </script>
 {% endfor %}
