{% extends "base.html" %}

{% block script %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "css/products.css" %}" >
	<script type="text/javascript" src="{% static "js/products.js" %}"></script>
{% endblock %}
{% block main_content %}
    <ul class='filter_list'>
	<li class='on'><div class='p_t_0'></div>护肤</li>
	<li><div class='p_t_1'></div>彩妆</li>
	<li><div class='p_t_2'></div>功效</li>
	<li><div class='p_t_3'></div>品牌</li>
	</ul>
	<ul class='p_t_0_list product_category_list' >
	    {% for category in data.skincareCategoryList %}
	        <li><a href='{% url 'products:query_by_category' 0 category.categoryId  %}'>{{ category.name }}</a></li>
	    {% endfor %}
	</ul>
    <ul class='p_t_1_list product_category_list hidden' >
	    {% for category in data.makeupCategoryList %}
	        <li><a href='{% url 'products:query_by_category' 1 category.categoryId  %}'>{{ category.name }}</a></li>
	    {% endfor %}
	</ul>
    <ul class='p_t_2_list product_category_list hidden' >
	    {% for category in data.effectList %}
	        <li><a href='{% url 'products:query_by_category' 2 category.categoryId  %}'>{{ category.name }}</a></li>
	    {% endfor %}
	</ul>
    <ul class='p_t_3_list product_category_list hidden' >
	    {% for brandList in data.brandList %}
             <li><em class='fchl''>{{ brandList.key }}</em><a  name='{{ brandList.key }}'></a></li>
             {% for category in brandList.list %}
                <li><a href='{% url 'products:query_by_category' 3 category.categoryId  %}'>{{ category.name }}</a>{{ category.enName }}</li>
            {% endfor %}
	    {% endfor %}
	</ul>
{% endblock %}
