{% extends "base.html" %}
{% block title %} 产品库 {% endblock %}
{% block script %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "css/products.css" %}">
	<script type="text/javascript" src="{% static "js/product_list.js" %}"></script>
{% endblock %}
{% block main_content %}
{% if from != 'search' %}
<div class='filter_list_box'>
  <div class='filter_flow_box'>
    <ul class='filter_list'>
       <li get_data_url='{% url 'products:queryt_by_all' type category_id 5 0 0 %}'><div class='p_f_5'></div>明星产品</li>
       <li class='on' get_data_url='{% url 'products:queryt_by_all' type category_id 1 0 0 %}'><div class='p_f_1'></div>用过人数</li>
       <li get_data_url='{% url 'products:queryt_by_all' type category_id 6 0 0 %}'><div class='p_f_6'></div>好评率</li>
       <li get_data_url='{% url 'products:queryt_by_all' type category_id 4 0 0 %}' get_data_url_1='{% url 'products:queryt_by_all' type category_id 4 0 0 %}' get_data_url_2='{% url 'products:queryt_by_all' type category_id 3 0 0 %}'><div class='p_f_4'></div>价格</li>
    </ul>
  </div>
</div>
{% endif %}

<ul class='product_list datalist used_product_list'>
  {% if from != 'search' %}
    {% include "products/product_list.html" %}
  {% endif %}
  {% if from == 'search' %}
    {% include "products/product_effect_list.html" %}
  {% endif %}
</ul>
<script>
$(".datalist").loaddata({
    url : "{{ url }}"
});
$(".filter_list li").loaddata({
    load_mode : "click_flush",
});
</script>
{% endblock %}
