{% extends "base.html" %}

{% block title %} {{ question.question.title }} {% endblock %}
{% block script %}
    {% load static %}
    <link rel="stylesheet" href="{% static "css/question.css" %}">
{% endblock %}
{% block main_content %}
<div class="question-body">
    <div class="question-title fcb1">
        {{ question.question.title }}
    </div>
    <div class="question-user-profile">
        <img class="question-avatar s_avatar" src="{{ question.question.user.avatarURL }}" alt="avatar" />
        <div class="profile-name f13 fcg1">{{ question.question.user.userName }}</div>
        {% if question.question.user.profile %}
            <div class="profile-property f13 fcg1">
                （{{ question.question.user.profile }}）
            </div>
        {% endif %}
        <div class="post-date f10 fcg1">{{ question.question.creationTime }}</div>
    </div>
    <div class="question-desc f13 fcg2">
        {{ question.question.content }}
    </div>
</div>
{% if question.relatedProductList %}
    <div class="related-products section-block">
        <div class="f10 fcg1"> 提到的商品 </div>
        <div>
            {% for product in question.relatedProductList %}
                <div class="fcb1 f13"> {{ product.name }}</div>
            {% endfor %}
        </div>
    </div>
{% endif %}
<div class="answer-body">
    <div class="answer-list-section section-block">
        {% if question.totalNumber > 0 %}
            <div class="f10 fcg1"> {{ question.totalNumber }}条回答</div>
            {% for answer in question.answerPart1 %}
                {% include "question/answerItem.html" %}
            {% endfor %}
            {% if question.relatedQuestionList %}
                <div class="related-question-body">
                    <div class="f10 fcg1"> 相关问题 </div>
                    {% for q in question.relatedQuestionList %}
                        {% include "question/relatedQuestion.html" %}
                    {% endfor %}
                </div>
            {% endif %}
            {% if question.answerPart2 %}
                {% for answer in question.answerPart2 %}
                    {% include "question/answerItem.html" %}
                {% endfor %}
            {% endif %}
            <div class="load_more_answer"> </div>
        {% else %}
             <div class="f10 fcg1">没有回答</div>
        {% endif %}
    </div>

</div>

<script type="application/javascript">
    var mark = {{ question.mark }};
    var question_id = {{ question_id }};
    var isLoadingNextPage = false;  //是否正在加载更多答案
    $(window).scroll(function(){
        if($(window).scrollTop() == ($(document).height() - $(window).height()) &&
           mark > 0 && isLoadingNextPage == false) {
            var url = "/question/" + question_id + "/mark/" + mark + "/";
            isLoadingNextPage = true;
            $.get_data(url, null,
                function(data) {
                    mark = data.mark;
                    $(".load_more_answer").before(data.html);
                },
                function(xmlReq, textStatus) {
                   isLoadingNextPage = false;
                }, 'json');
        }
    })
</script>
{% endblock %}


