{% extends "base_topic.html" %}

{% block keywords %} {{ question.question.normal_title }} {% endblock %}
{% block description %} {{ question.question.content }}-粉扑网 {% endblock %}
{% block title %} {{ question.question.normal_title }} {% endblock %}
{% block script %}
{% load static %}
{% load compress %}
{% compress css inline %}
<link rel="stylesheet" href="{% static "css/question.css" %}?v=1.1">
{% endcompress %}
{% endblock %}
{% block main_content %}
<div class="question-body">
    <div class="question-title fcb1 f16">
        {{ question.question.title|safe }}
    </div>
    <div class="question-user-profile">
        <img class="question-avatar s_avatar fl" src="{{ question.question.user.avatarURL }}" alt="avatar" />
        <div class="profile-name f13 fcg2 fl">{{ question.question.user.userName }}</div>
        {% if question.question.user.profile %}
            <div class="profile-property f13 fcg1 fl">
                （{{ question.question.user.profile }}）
            </div>
        {% endif %}
        <!--div class="f10 fcg1 fr">{{ question.question.creationTime }}</div0-->
		<div class='clear'></div>
    </div>
    <div class="question-desc f13 fcg2">
        {{ question.question.content|safe }}
    </div>
</div>
{% if question.relatedProductList %}
    <div class="related-products section-block">
    <div  id="RelatedPros" style="width:2px;float: left;margin-top: 10px;padding-left:8px;border-left: 3px solid;border-left-color: #FF5346"></div>
        <div>
        <img style="background-size: 9px 11px;width: 9px;margin-top: 12px;height: 11px;float: left" src={% static "images/icon_q_and_a_products@2x.png" %}>
        <div class="subtitle" style="padding-left: 25px;font-size:9px;color:#FF5346;margin-bottom: 0px;line-height: 2px"> 提到的产品 </div>
        </div>
        <ul>
            {% for product in question.relatedProductList %}
                <li ><a href='{% url 'product:product_detail' product.productId %}' style="padding: 0px;margin-bottom: 0px;line-height: 12px;font-size:14px;color:#222;">{{ product.name }}</a></li>
                <div style="color: #aaaaaa;font-size: 10px;margin-top: 0px;line-height: 10px">¥{{ product.price }}/{{ product.size }}</div>
                <div style="height: 5px"></div>
            {% endfor %}
            <div style="height: 10px"></div>
        </ul>
    </div>
{% endif %}
<div class="answer-body">
    <div class="answer-list-section section-block">
        {% if question.totalNumber > 0 %}
            <div class="f10 fcg1 subtitle"> {{ question.totalNumber }}条回答</div>
			<div class='sp_line2'></div>
			{% with notHasLastLine=True %}
              {% for answer in question.answerPart1 %}
                  {% include "question/answerItem.html" %}
              {% endfor %}
			{% endwith %}
        {% else %}
             <div class="f13 fcg1" style="text-align: center">没有回答</div>
        {% endif %}
    </div>

</div>


{% if question.relatedQuestionList %}
 <div class="related-question-body">
     <div class="f10 fcg1 subtitle"> 相关问题 </div>
     <div class='sp_line2'></div>
     {% for q in question.relatedQuestionList %}
         {% include "question/relatedQuestion.html" %}
     {% endfor %}
 </div>
{% endif %}
{% if question.answerPart2 %}
  <div class="answer-body">
      <div class="answer-list-section section-block datalist">
         {% for answer in question.answerPart2 %}
            {% include "question/answerItem.html" %}
         {% endfor %}
      </div>
  </div>
{% endif %}
<script type="application/javascript">
    var pheight = $("#RelatedPros").parent().height() - 15;
    $("#RelatedPros").css({"height":pheight});

    $(".question-body").css({"background-color":"#fff"});
    $(".related-products").css({"background-color":"#fff"});
    $("body").css({"background-color":"#f9f8f5"});
    $(".datalist").loaddata({
        url : "{{ url }}",
		success :show_right_info
    });
show_right_info();
</script>
{% endblock %}


