<!DOCTYPE html>
<html>
<head>
<meta http-equiv = "content-type" content="text/html;charset=gb2312"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/> 
<title>粉扑红包</title>
{% load static %}
<link rel='stylesheet' href='{% static 'css/activity.css' %}' type='text/css'>
</head>
<html>
<body>
<div class="absolute weixin_share hidden">                           <!--分享-->
  <div class="weixin_pic_section"> 
    <img src="../static/images/bonus_share_arrow.png" class="weixin_pic">
  </div>
  <div class="weixin_character_section">
    <div class="float_r weixin_character">点击分享到朋友圈</div>
  </div>
</div>
<div class="pad_t_tn hidden">                                        <!--发红包-->
   <div class="center">
      <img src="../static/images/send_bonus.png" class="send_pic">
   </div>
   <div class="marg_t_te center">
      <a href="/question/"><img src="../static/images/send_bouns_button.png" class="send_button"></a>
   </div>
</div>
<div class="pad_t_n hidden">                  <!--抢红包-->
    <div class="grab_pic_section div_center relative">
       <img src="../static/images/grab_bonus.png" class="grab_pic">
       <a href="/question/"><div class="absolute grab_button" style="z-index:1111"></div></a>
    </div>
</div> 
<div class="pad_t_n">                             <!--得到红包-->
  <div class="relative">
    <div class="get_pic_section div_center relative">
      <img src="../static/images/get_bonus.png" class="get_pic"/>
      <a href="/question/"><div class="absolute get_share_button"></div></a>
      <a href="/question/"><div class="absolute get_extract_button"></div></a>
    </div>
    <div class="absolute center get_money">¥38</div>
  </div>
  <div class="div_center width_ttz">
    <div class="get_character_section">
      <div class="get_rule_section">
         <div class="float_l get_block"></div>
         <div class="float_l get_rule">&nbsp;规则说明</div>
      </div>
      <ul>
        <li>①&nbsp;每人默认可领取一次</li>
        <li>②&nbsp;分享后可额外领取一次</li>
        <li>③&nbsp;护肤基金可提现</li>
        <li>④&nbsp;提现时须使用获得收益的微信账号登陆粉扑</li>
      </ul> 
    </div>
  </div>
</div>
<div class="pad_t_sz hidden">                 <!--红包总量-->
  <div class="relative">
    <div class="relative div_center total_pic_section">
      <img src="../static/images/total_bonus.png" class="total_pic"/>
      <a href="/question/"><div class="absolute total_extract_button"></div></a>
    </div>
    <div class="absolute center total_money">88</div>
    <div class="absolute total_all_money center">共获得两个红包，总额 116 元</div>
  </div>
  <div class="div_center width_ttz marg_t_oe">
    <div class="total_character_section">
      <div class="height_os">
         <div class="float_l total_block"></div>
         <div class="float_l total_extract">&nbsp;提现方式</div>
      </div>
      <div class="total_step">下载 "粉扑" —— 我 —— 设置 —— 我的收益</div>
    </div>
  </div>
</div>
</body>
</html>
