{% extends "base_topic.html" %}
{% block keywords %} {{ featureTopic.title }} {% endblock %}
{% block description %}
  {% if featureTopic.content %}
    {{ featureTopic.content|truncatechars:100|striptags }}
  {% else %}
    {{ featureTopic.title|striptags }}
  {% endif %}
{% endblock %}
{% block title %}
   {% if featureTopic.title %}
     {{ featureTopic.title|truncatechars:20|striptags }}_粉扑网
   {% else %}
     {{ featureTopic.content|truncatechars:20|striptags }}_粉扑网
   {% endif %}
 {% endblock %}

{% block script %}
{% load static %}
{% load compress %}
{% compress css inline %}
  <link rel="stylesheet" href="{% static "css/topic.css" %}?v=1.9">
{% endcompress %}
{% compress js inline %}
  <script type="text/javascript" src="{% static "js/topic.js" %}?v=1.3"></script>
  <script type="text/javascript" src="{% static "js/new_topic.js" %}?v=1.3"></script>
{% endcompress %}
{% endblock %}

{% block main_content %}
<!--专题信息-->
{% if fromUserName %}
  <div style="width:80%;padding:10px 14px 10px 14px;height:22px;line-hegint:22px;font-size:12px;background-color: white">
  <div class="fl" style="color:#999;padding:5px 8px;-moz-border-radius: 15px; -webkit-border-radius: 15px;border-radius:15px;background-color:#eee">来自<span class="fcb1" style="color:#666">{{fromUserName}}</span>的分享</div>
  </div>
{% endif %}

{% if featureTopic.org %}
<div class='topic_header relative'>
  <img  src='{{ featureTopic.org }}' alt='{{ featureTopic.content|truncatechars:20 }}'/>
</div>
{% endif %}
<div class='topic_content'>
 {% if featureTopic.title %}
 <h1 class='title fcb1'>{{ featureTopic.title }}</h1>
 {% endif %}
{% if featureTopic.user %}
 <div class="height_fz marg_t_of">
    {% if featureTopic.user.avatarURL %}
     <div class="topic_detail_user_avatars" style="background-image:url('{{ featureTopic.user.avatarURL }}');"></div>
   {% else %}
     <div class="topic_detail_user_avatars" style="background-image:url('{% static "images/img_user_avatars_default@2x.png" %}');"></div>
   {% endif %}
   <div class="float_l pad_l_e">
        <div class="topic_detail_user_name">{{ featureTopic.user.userName }}</div>
        <div class="topic_detail_time">{{ featureTopic.digitalTime }}</div>
   </div>
 </div>
 <div class="height_ot bgc_w ">
    <div class="float_r height_ot">
      <div class="float_l topic_detail_likeIcon"></div>
      <div class="float_l topic_detal_likeNum">&nbsp;{{ featureTopic.likeNum }}&nbsp;&nbsp;&nbsp;&nbsp;</div>
      <div class="float_l topic_detail_commentIcon"></div>
      <div class="float_l topic_detail_commentNum">&nbsp;{{ featureTopic.commentNum }}</div>
    </div>
 </div>    
{% else %}
 <div class='author'>文/{{ featureTopic.author }}</div>
{% endif %}
 {% if featureTopic.introduction%}
 <div class='introduction f13 fcan relative' >
    <i class="bg lq"></i>
    {{ featureTopic.introduction }}
 </div>
 <div class='sp_line'></div>
 {% endif %}
 <div class='content fcb1'>
   {% for contentInfo in featureTopic.contentList %}
     <div class="con fcb1">
     {% if contentInfo.type == 1 %}
	  <p>
	    {% for content in contentInfo.content %}
		   {% if content.link.type %}
		    <a href="
		    {% if content.link.type == '0' %}
	    	  {% url 'products:query_by_category' 3 content.link.data  %}
	    	{% endif %}
	    	{% if content.link.type == '1' %}
	    	  {% url 'product:product_detail' content.link.data %}
	    	{% endif %}
	    	{% if content.link.type == '2' %}
	    	  {% url 'search:search' content.link.data  %}
	     	{% endif %}
    		{% if content.link.type == '3' %}
		      {{ content.link.data }}' target='_blank'
		    {% endif %}
			" >
		   {% endif %}
           <span  style='font-size:{{ content.fontSize.iPhone }}px;{% if content.color %}color:#{{ content.color }}{% endif %};line-height:25px'>{{ content.text|safe }}</span>
		   {% if content.link.type %}
		     </a>
		   {% endif %}
		{% endfor %}
	  </p>
     {% endif %}
     {% if contentInfo.type == 0 %}
      {% if contentInfo.href %}
	    <a href='{{ contentInfo.href }}' >
	  {% endif %}
	   <img src='{{ contentInfo.pic.org }}' alt='{{ featureTopic.content|truncatechars:20 }}' style="border: 0px"/>
	 {% endif %}
	  {% if contentInfo.href %}
        </a>
      {% endif %}
      {% if contentInfo.type == 2 %}
          {% if contentInfo.link.type == '0' %}
            {% url 'products:query_by_category' 3 contentInfo.link.data  %}
          {% endif %}
          {% if contentInfo.link.type == '1' %}
            <div class="link_cell_new relative">
              <a href="{% url "product:product_detail" contentInfo.link.data %}">
              <div style="width:80%;margin-left:13px;color:#56452A;font-size:15px;line-height:17px;height:17px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;">{{ contentInfo.link.title|safe }}</div>
              <div style="margin-left:13px;color:#9C8E79;font-size:11px;height:13px;margin-top:10px;">
                  <div class="float_l" style="line-height:13px;">{{ contentInfo.link.questionNum|safe}}相关内容</div>
                  <div class="float_l" style="margin-left:11px;background-color:rgb(245,230,207);color:rgb(215,172,115);line-height:13px;font-size:6px;border-radius:4px;">市场价</div>
                 {% if contentInfo.link.size %}
                  <div class="float_l" style="line-height:13px;margin-left:5px;">&yen;{{ contentInfo.link.price|safe}}/{{contentInfo.link.size}}</div>
                  {% else %}
                  <div class="float_l" style="line-height:13px;margin-left:5px;">暂无价格</div>
                  {% endif %}
              </div>
                  {% if contentInfo.link.fp_price %}
              <div class="absolute" style="width:100%;bottom:10px;left:0px;">
                 <div style="float:right;margin-right:22px;line-height:13px;" class="text_center">
                    <img src="{% static "images/icon_f_topic_products_fenpu.png" %}" style="height:22px;width:22px;border:0px;">
                    <div style="font-size:11px;margin-top:3px;color:rgb(192,145,73);">&yen;{{ contentInfo.link.fp_price }}</div> 
                 </div>
              </div>
                  {% endif %}
	      </a>
            </div>
          {% endif %}
          {% if contentInfo.link.type == '2' %}
            {% url 'search:search' contentInfo.link.data  %}
          {% endif %}
          {% if contentInfo.link.type == '3' %}
		    {% if contentInfo.link.display == 'newline' or not contentInfo.link.display %}
              <div class='link_newline'>
                <a href='{{ contentInfo.link.data }}' target='_blank'>
                  <div><span class='fcb1 fl'><strong>{{ contentInfo.link.title|safe }}</strong></span></div>
                  <div class='topic_outlink_img fl bg'></div>
                </a>
				<div class="clear"></div>
              </div>
			{% endif %}
            {% if contentInfo.link.display == 'cell' %}
              <div class='link_cell product_cell_link'>
                <a id='bd_davdian_product_click' onclick='ga('send', 'event', '微商', '{{ contentInfo.link.title|safe }}', '{{ featureTopic.featureTopicId|safe }}');_hmt.push(['_trackEvent', '微商', '{{ contentInfo.link.title|safe }}', '{{ featureTopic.featureTopicId|safe }}']);' href='{{ contentInfo.link.data }}'>
                  <div class="fl topic_product_img"><img src='{{ contentInfo.link.product_img }}' alt='{{ featureTopic.content|truncatechars:20 }}'></div>
                  <div class="fl topic_product_text">
                    <div class='topic_product_title fcb1'>{{ contentInfo.link.title|safe }}</div>
                    <div class='topic_product_price'><span class='fchl'>&yen;{{ contentInfo.link.product_real_price|safe }}</span><span class='fcg1' style='text-decoration:line-through;'>&yen;{{ contentInfo.link.product_market_price|safe }}</span></div>
                  </div>
                  <div class='link_arrow relative'><i class="bg link_arrow_i"></i></div>
	            </a>
              </div>
            {% endif %}   
          {% endif %}   
          {% if contentInfo.link.type == '4' %}
            <div class='link_cell'>
              <a href='{% url 'topic:topic_info' contentInfo.link.data %}'>
              <li class='fchl'><div class='topic_topic fl'></div>笔记</li>
              <li><div class='fcb1'>{{ contentInfo.link.title|safe }}<div class='fr'><span class='fr fchl'><strong>></strong></span></div></div></li>
	      </a>
            </div>
          {% endif %}   
          {% if contentInfo.link.type == '5' %}
            <div class='link_cell'>
              <a href='{% url 'topic:topic_info' contentInfo.link.data %}'>
              <li class='fchl'><div class='topic_question fl'></div>精选问答</li>
              <li><div class='fcb1'>{{ contentInfo.link.title|safe }}<div class='fr'><span class='fr fchl'><strong>></strong></span></div></div></li>
              <li class='fcg1'>{{ contentInfo.link.questionNum|safe}}回答</li>
	      </a>
            </div>
          {% endif %}   
      {% endif %}
     </div>
   {% endfor %}
 </div>
 {% if  featureTopic.conclusion %}
 <div class='sp_line'></div>
 <div class='conclusion f13 fcan relative'>
	<i class="bg rq"></i>
    {{ featureTopic.conclusion }}
 </div>
 {% endif %}
</div>
<div class='divide_line'></div>
<div class='comment_mainbody'>
 <div class="typeface">全部评论&nbsp;{{ commentsTopic.totalNumber}}</div>
 {% for comment in commentsTopic.commentList %}
 <div class='comment_divide_line'></div>
 <div class='height_three_five'>
   {% if comment.user.avatarURL %}
   <div class='float_l user_avatars' style="background-image:url('{{ comment.user.avatarURL }}');"></div>
   {% else %}
   <div class='float_l user_avatars' style="background-image:url('{% static "images/img_user_avatars_default@2x.png" %}');"></div>
   {% endif %}
   <div class='float_l pad_l_e'>
       <div class='user_name'>{{ comment.user.userName }}</div>
       <div class='comment_time'>{{ comment.creationTime }}</div>
   </div>
 </div>
 <div class='comment_content'>{{ comment.content }}</div>
  {% if comment.rComment %}
 <div class='be_comment_section'>{{ comment.rComment.user.userName}}：{{ comment.rComment.content}}</div>
  {% endif %}
 {% endfor %}
</div>
<script>

$(".topic_content").css({"background-color":"#fff"});
$(".topic_content").css({"background-color":"#fff"});
$("body").css({"background-color":"#f9f8f5"});

</script>
{% endblock %}









