<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="baidu-site-verification" content="ZoKaXQ0GoY" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
        <meta name="description" content="粉扑网，正品化妆品推荐，海外化妆品代购"/>
        <meta name="keywords" content="粉扑，粉扑网，粉扑网站，粉扑下载，护肤，美妆，正品，美妆社区"/>
        <title>{% block title %}粉扑网，美妆护肤助手，败家剁手利器{% endblock %}</title>
        <meta name="format-detection" content="telephone=no"/>  
        {% load static %}
        {% load compress %}
        <link rel="icon" href="{% static "images/Icon-Small.ico" %}" mce_href="{% static "images/Icon-Small.ico" %}" type="image/x-icon" />
        <link rel="shortcut icon" href="{% static "images/Icon-Small.ico" %}" type="image/x-icon" />
        {% compress css inline %}
        <link rel="stylesheet" href="{% static "css/style.css" %}?v=1.1">
        {% endcompress%}
        <script type="text/javascript" src="http://static.fenpuwang.com/js/jquery.min.js"></script>
        {% block script %}{% endblock %}
    </head>

    <body>
        <a name="back_top" id="back_top"></a>
        <div id="main-content">
        {% block main_content %}{% endblock %}
		</div>
        <!--baidu begin-->
        <div class="hidden">
        <script type="text/javascript">
          var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
          document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F9c85a2b6ff68abc4a01a855d93ebcbc5' type='text/javascript'%3E%3C/script%3E"));
        </script>
        </div>
        <!--baidu end-->
        <!--google begin-->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-57617769-1', 'auto');
          ga('send', 'pageview');

        </script>
        <!--google end-->
    </body>

</html>
