<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
        <meta name="description" content="粉扑--中国第一美妆问答社区。最全美妆产品库，最赞达人笔记。做美妆功课，来粉扑就够了！"/>
        <meta name="keywords" content="面膜,护手霜,口红,眼霜,身体乳,爽肤水,面霜,乳液,精华,去黑头,祛痘,祛痘印,补水,粉刺,脂肪粒,保湿,美白,收缩毛孔,滋润,遮瑕,隔离,九朵云,兰芝,悦诗风吟,sk2,雪肌精,兰蔻,香奈儿,欧舒丹,手工皂,科颜氏,雪花秀,后,雅漾,依云,依泉,气垫BB,喷雾,蜗牛霜,换季保养,百雀羚,欧莱雅,韩束,悦诗风吟,玉兰油,兰芝,雅诗兰黛,曼秀雷敦,兰蔻,美宝莲,香奈儿,卡姿兰,资生堂,伊思,迪奥,芦荟胶,喷雾,氧气面膜,蜗牛霜,气垫唇膏,眼线,薰衣草精油,睡眠面膜,我的美丽日记,相宜本草,dhc,玫凯琳,资深堂,膜法世家,贝德玛,片仔癀,蚕丝面膜,去角质,ZA,茶树精油,贝佳斯,薇姿,倩碧三部曲,卸妆乳"/>
        <title>{% block title %}粉扑 - 首页{% endblock %}</title>
        {% load static %}
        <link rel="icon" href="image/Icon-Small.png" mce_href="image/Icon-Small.png" type="image/x-icon" />
        <link rel="shortcut icon" href="image/Icon-Small.png" type="image/x-icon" />
        <link rel="stylesheet" href="{% static "css/style.css" %}?v=1.0">
        <script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/base.js" %}?v=1.1"></script>
        <script type="text/javascript" src="{% static "js/loaddata.js" %}?v=1.0"></script>
        <script type="text/javascript" src="{% static "js/back_top.js"%}?v=1.0"></script>
        {% block script %}{% endblock %}
    </head>

    <body>
        <a name="back_top" id="back_top"></a>
        <div id="top-navigation-bar">
		     {% include "items/navigationItem.html" %}
		</div>
        <div id="main-content">
            {% block main_content %}{% endblock %}
        </div>
		<div class="footer">
          {% if close_bottom_download == 0 %}
          <div  class="footer_download">
		   <a id='bd_topic_download' onclick="ga('send', 'event', '应用', '下载', '底部');_hmt.push(['_trackEvent', 'software', 'download', 'topic_info_{{ featureTopic.featureTopicId }}']);"  href='http://www.dabanniu.com/download.phtml' class="bg btn_t_download block" target="_blank">
		   </a>
		  </div>
           {% endif %}
		</div>
        <a href='#back_top' id="back_top_button"  class="back_top_button hidden" ></a>
        <!--baidu begin-->
        <div class="hidden">
        <script type="text/javascript">
          var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
          document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F9c85a2b6ff68abc4a01a855d93ebcbc5' type='text/javascript'%3E%3C/script%3E"));
        </script>
        </div>
        <!--baidu end-->
        <!--google begin-->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-57617769-1', 'auto');
          ga('send', 'pageview');

       </script>
        <!--google end-->
    </body>

</html>
