{% extends "base.html" %}
{% block keywords %} {{ keyword }} {% endblock %}
{% block description %} {{ keyword }}-粉扑网 {% endblock %}
{% block title %} {{ keyword }} {% endblock %}

{% block script %}
{% load static %}
{% load compress %}
{% compress css inline %}
<link rel="stylesheet" href="{% static "css/search.css" %}">
<link rel="stylesheet" href="{% static "css/product.css" %}">
<link rel="stylesheet" href="{% static "css/products.css" %}">
{% endcompress %}
{% endblock %}

{% block main_content %}

{% if not search.brandList and not search.productList and not search.searchContentList  %}

<div style="margin-top: 150px;text-align: center;">
<img style="background-size: 72px 72px;width: 72px;height: 72px;" src={% static "images/img_empty_search_result@2x.png" %}>
<div style="margin-top: 30px;text-align: center;font-size: 17px;color: #C2A7A2">暂时没有你查找的问题</div>
</div>

{% else %}

<!--品牌馆-->
<div class="brand_body">
  {% for brand in search.brandList %}
  <a href='{% url 'products:query_by_category' 3 brand.brandId %}'>
  <div class="brand_item">
    {% ifequal forloop.counter 1 %}
    <!--品牌1-->
    <div class="brand_bg_red">
    {% endifequal %}
    {% ifequal forloop.counter 2 %}
    <!--品牌2-->
    <div class="brand_bg_blue">
    {% endifequal %}
      <!--品牌内容-->
      <div class="brand_img fl"><img src="{{ brand.picUrl }}"/></div>
      <div class="brand_info fl">
        <div class="brand_title">{{ brand.name }}&nbsp&nbsp<span class="brand_suffix">品牌馆</span></div>
        <div class="brand_content f14">共{{ brand.productNum }}款商品</div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  </a>
  {% endfor %}
</div>

<!--产品-->
<div class="product_body">
  <ul class="product_list">
    {% for product in search.productList %}
      {% include "items/productEffectItem.html" %}
    {% endfor %}
    {% if search.productNumber > 3 %}
      <li><div class="more_product"><a href="{% url 'search:product_list' keyword 2 0 %}" class="block fcg1 f14">查看更多商品</a></div></li>
    {% endif %}
  </ul>
</div>

<!--专题-->

<!--问答-->
<div class="question_body">
  <div class="question_overview fcan f10">{{search.totalNumber}}个相关结果</div>
  <div class="sp_line"></div>
  <ul class='question_list datalist'>
  {% with question_topic_list=search.searchContentList %}
    {% include "lists/question_topic_list.html" %}
  {% endwith %}
  </ul>
</div>

{% endif %}


<script type="application/javascript">
$(".datalist").loaddata({
  url : "{{ url }}",
  success :show_right_info
});
show_right_info();

$(document).ready(function(){
         $(".nav").css("position","fixed");
  });
</script>

{% endblock %}
