{% include "items/downloadItem.html" %}
<div class='nav relative'>
    <ul>
	        <li class='on'>首页</li>
			        <li>产品库</li>
					    </ul>
						    <div class='top_search hidden'>
							        <form><input id='keyword' name='keyword' /></form>
									    </div>
										    <div class='icon_btn'>
											        <div class='feed_filter fr bg block' ></div>
													        <div class='search_icon fr bg block' ></div>
															    </div>
																</div>
																<div class='search_box t_c'>
																    <h1 class='bg block'></h1>
																	    <h2 class='bg block'></h2>
																		    <div class='search_input_box relative'>
																			        <form>
																					            <ul>
																								                <li class='l_b fl'></li>
																												                <li class='c_b fl'></li>
																																                <li class='r_b fl'></li>
																																				            </ul>
																																							            <input id='index_keyword' name='indexKeyword' class='f13' placeholder="搜“小棕瓶和小黑瓶 哪个好用？”试试"/>
																																										            <input id='index_btn_search' type='submit' value='' class='bg'/>
																																													        <form>
																																															    </div>
																																																</div>
