{% include "items/downloadItem.html" %}
{% load static %}
<div class="nav_bg">
 <div class="nav_section">
   <div class="nav_face">
        {% if navTitle %}
             {{ navTitle }}
        {% else %}
             粉扑
        {% endif %}
   </div>   
   <div class="nav_img">
      <img src="{% static "images/btn_nav_back_normal@2x.png" %}" class="nav_return_btn">
      {% if not search_btn %}
      <img src="{% static "images/btn_seach_bar_menu.png" %}" class="nav_menu_btn">
      <img src="{% static "images/btn_nav_search_normal@2x.png" %}" class="nav_search_btn">
      {% endif %}
   </div>
 </div>
</div>
<div class="nav_menu_content">
  <div class="nav_menu">
    <a href="{% url "topic:topic_index" %}"><div class="nav_topic">笔记</div></a>
    <a href="{% url "products:products_recommend" %}"><div class="nav_buy">买买买</div></a>
    <a href="{% url "order:order_list" %}"><div class="nav_order">我的订单</div></a>
    <a href="{% url "cart:cart_index" %}"><div class="nav_cart">购物车</div></a>
  </div>
</div>
<div class="nav_search_content">
  <div class="nav_search_section">
    <div class="nav_search_box" >
       <form onsubmit='$(".nav_search_letter").click();return false;'>
       <input type="text" placeholder="小棕瓶和小黑瓶哪个好用?" value="" class="nav_search" />
       </form>
       <img src="{% static "images/icon_search_bar.png" %}" class="nav_search_icon">
    </div>
    <div class="nav_search_letter">搜索</div>
  </div>
</div>
<script>
  $(document).ready(function(){
     $(".nav_menu_btn").click(function(){
       $(".nav_menu_content").toggle();
       $(".nav_search_content").hide();
     });
     var banner_width = $(".nav_section").width();
     //var search_letter_width = $(".nav_search_letter").width();
     $(".nav_search_box").css("width",banner_width-12-17-12-30);
     $(".nav_search").css("width",banner_width-12-17-12-30-33);
     $(".nav_search_btn").click(function(){
       $(".nav_search_content").toggle();
       $(".nav_menu_content").hide();
     });
     $(window).scroll(function(){
       $(".nav_search_content").hide();
       $(".nav_menu_content").hide();
     });
     $(".nav_return_btn").click(function(){
        window.history.back();
     });
     $(".nav_search_letter").click(function(){
        var search_content = $(".nav_search").val();
        if(search_content){
            window.location.href = "/search/"+search_content; 
        }else{
            return false;
        }
     });
     $(".nav_search").focus(function(){
       $(".nav_search").css("color","black");
     });
     $(".nav_search").blur(function(){
       $(".nav_search").css("color","#dbdbdb");
     });
//     $().submit(function(){
//        $(".nav_search_letter").click();
//        return flase;
//     });
});
</script>

