{% include "items/downloadItem.html" %}
<div class='nav_bar relative'>
   <div class='nav'>
       <form>
        <ul class=''>
	      <li class='on'>首页</li>
          <li>产品库</li>
        </ul>
        <div class='top_search hidden'>
            <div class='closebox fl'>
              <div class='close bg block fl' ></div>
            </div>
            <div  class='inputbox relative fl index'>
               <input id='keyword' name='keyword' class='keyword f13 fcb1 fl'/>
               <input class='search_icon fr bg block absolute on' type='submit' value=''/>
            </div>
        </div>
        <div class='icon_btn'>
            <div class='feed_filter fr bg block' ></div>
            <div class='search_icon fr bg block' ></div>
        </div>
       </form>
   </div>
</div>
<div class='feed_filter_box absolute hidden'>
   <ul>
    <li class='on' category='0'>全部</li>
    <li category='2'>面霜</li>
    <li category='4'>乳液</li>
	<li category='6'>面部精华</li>
	<li category='8'>眼部护理</li>
	<li category='10'>化妆水</li>
	<li category='12'>洁面品</li>
	<li category='14'>面膜</li>
	<li category='16'>卸妆</li>
	<li category='18'>bb/cc霜</li>
	<li category='20'>粉底</li>
	<li category='22'>粉饼</li>
	<li category='24'>散粉</li>
	<li category='26'>腮红</li>
	<li category='28'>口红</li>
   </ul>
   <div class='clear'></div>
</div>
<div class='search_box t_c'>
  <h1 class='bg block'></h1>
  <h2 class='bg block'></h2>
  <div class='search_input_box relative'>
    <form>
	  <input id='index_keyword' name='indexKeyword' class='f13 absolute' placeholder="搜“小棕瓶和小黑瓶 哪个好用？”试试"/>
	  <input id='index_btn_search' type='submit' value='' class='bg absolute'/>
    <form>
  </div>
</div>
																																																																																																				<div class='sp_line2'></div>
