{% load static %}
<li>
{% ifequal question_topic.type 0 %}
<a href='{% url 'question:question_details' question_topic.question.questionId %}'>
<div class="title fcb1 f15">{{ question_topic.question.title|safe }}<em>&nbsp;</em></div>
<div class="content fcg2 f13" style="max-height:87px;overflow:hidden;text-overflow:ellipsis;padding-bottom: 5px;padding-top: 5px">
  {% ifequal question_topic.question.relatedAnswer.isBest 1%}
    最佳回答:&nbsp
  {% endifequal  %}
  {% ifequal question_topic.question.relatedAnswer.isBest 0%}
    相关回答:&nbsp
  {% endifequal  %}
  {{ question_topic.question.relatedAnswer.content|safe }}
   {% if question_topic.question.relatedAnswer %}
      <em>&nbsp;</em>
   {% endif %}
</div>
<i target='title' class='rhinfo f10 fcg1 hidden'>{{ question_topic.question.answerNum }}回答</i>
<!--i target='content' class='rhinfo f10 fcg1 hidden'>{{ question.relatedAnswer.likeNum }}赞</i-->
<div class="sp_line"></div>
</a>
{% else %}
<a href='{% url 'topic:topic_info' question_topic.featureTopic.featureTopicId %}'>
<div class="relative product_topic_topic">
  {%if question_topic.featureTopic.org %}
    <img src="{{ question_topic.featureTopic.org }}" class="float_l product_topic_img">
  {% else %}
    <img src="{% static "images/img_activity_biji_empty.png" %}" class="float_l product_topic_img">
  {% endif %}
  <div class="float_l product_topic_tc">
     {% if question_topic.featureTopic.title %}
     <div class="fcb1 f15 product_topic_title">{{ question_topic.featureTopic.title|safe }}<em>&nbsp;</em></div>
     <div class="fcg2 product_topic_content"> {{ question_topic.featureTopic.content|safe }}<em>&nbsp;</em></div>
     {% else %}
     <div class="fcg2 product_topic_no_title"> {{ question_topic.featureTopic.content|safe }}<em>&nbsp;</em></div>
     {% endif %}
  </div>
  <div class="clear"></div>
  <div class="absolute product_topic_lc_section">
    <div class="float_r product_topic_lc">
       <img src="{% static "images/icon_f_topic_collected@2x.png" %}" class="float_l product_topic_like_btn">
       <div class="float_l product_topic_like_comment fcb1">&nbsp;{{ question_topic.featureTopic.likeNum }}&nbsp;&nbsp;&nbsp;{{ question_topic.featureTopic.commentNum }}&nbsp;评论</div>
    </div>
  </div>
</div>
<div class="sp_line"></div>
</a>
{% endifequal %}
{% if forloop == 1 and mark = 1%} 
 <div class="product_related">
 <a href='{% url 'products:query_by_category' 1 product.product.category.categoryId %}'><div class="btn fl"><div class="btn_content fcb1 f13 bg"><div class="porduct_category_img fl"></div>同类别产品</div></div></a>
 <a href='{% url 'products:query_by_category' 3 product.product.brand.brandId %}'><div class="btn fl"><div class="btn_content fcb1 f13 bg"><div class="porduct_brand_img fl"></div>同品牌产品</div></div></a>
</div>
<div class="sp_line"></div>

{% endif %}
</li>
<script>
  $(document).ready(function(){
      $(".product_topic_tc").css("width",parseInt($(".product_topic_topic").width())-92);
  });
</script>

