{% load static %}
<li>
  <div class='imgBox'>
    {% if topic.org %}
    <a href='{% url 'topic:topic_info' topic.featureTopicId %}' >
    {% if topic.height > topic.width %}
     <img src='{{ topic.org }}' onload='loadImg(this)'/>
    {% else %}
     <img src='{{ topic.org }}'/>
    {% endif %}
    </a>
	{% endif %}
  </div>
  <div class="topic_list_user">
  <a href='{% url 'topic:topic_info' topic.featureTopicId %}' >
    <div class="height_oe marg_b_t">
        {% if topic.user.avatarURL %}
        <div class="float_l height_oe width_oe"><img src="{{ topic.user.avatarURL }}" class="topic_list_user_avatars"></div>
        {% else %}
        <div class="float_l height_oe width_oe"><img src="{% static "images/img_user_avatars_default@2x.png" %}" class="topic_list_user_avatars"></div>
        {% endif %}
        <div class="topic_list_user_name float_l">{{ topic.user.userName }}</div>
    </div>
    {% if topic.title %}
    <div class="topic_list_title">{{ topic.title }}</div>
    <div class="topic_list_content">{{ topic.content }}</div>
    {% else %}
    <div class="topic_list_content_notitle">{{ topic.content }}</div>
    {% endif %}
    <div class="height_ot">
      <div class="float_l topic_list_likeIcon"></div>
      <div class="float_l topic_list_likeNum">&nbsp;{{ topic.likeNum }}&nbsp;&nbsp;&nbsp;&nbsp;</div>
      <div class="float_l topic_list_commentIcon"></div>
      <div class="float_l topic_list_commentNum">&nbsp;{{ topic.commentNum }}</div>
    </div>
  </a>
  </div>
</li>
