{% extends "base.html" %}
{% block title %} {{ product.name }} {% endblock %}

{% block script %}
{% load static %}
<link rel="stylesheet" href="{% static "css/style.css" %}">
<link rel="stylesheet" href="{% static "css/product.css" %}">
{% endblock %}

{% block main_content %}
<!--产品介绍-->
<div class="product_desc_body fcg1 f14">
  <p>{{ product.details|safe}}</p>
</div>

<!--产品链接-->
{% ifnotequal product.mapping|length 0%}
<div class="link_body">
     <div class="question_overview fcg1 f13">去看看更多信息</div>
     <div class="sp_line"></div>
     {% for link in product.mapping %}
     <div class="media_logo fl"><a href="{{ link.url }}"><img src="{{ link.logo_img }}"/></a></div>
     {% endfor %}
</div>
{% endifnotequal %}
{% endblock %}
