{% extends "base_topic.html" %}
{% block keywords %} {{ product.product.name }} {% endblock %}
{% block description %} {{ product.product.name }}-粉扑网 {% endblock %}
{% block title %} {{ product.product.name }} {% endblock %}

{% block script %}
{% load static %}
{% load compress %}
{% compress css inline %}
<link rel="stylesheet" href="{% static "css/product.css" %}?v=2.7">
{% endcompress %}
{% if is_mm == 0 %}
<script src="https://s.meiqia.com/js/mechat.js?unitid=6497&btn=hide" charset="UTF-8"></script>
{% endif %}
<script type="text/javascript" src="{% static "js/jquery.lazyload.min.js" %}"></script>
{% endblock %}

{% block main_content %}
{% if fromUserName %}
  <div style="width:80%;padding:17px 14px 0px 14px;height:22px;line-hegint:22px;font-size:12px;background-color:#FFFFFF">
  <div class="fl" style="color:#999;padding:5px 8px;-moz-border-radius: 15px; -webkit-border-radius: 15px;border-radius:15px;background-color:#eee">来自<span class="fcb1" style="color:#666">{{fromUserName}}</span>的分享</div>
  </div>
{% endif %}
<!--产品信息-->
<div class="product_body relative">
  <div class="product_pics t_c">
    {% for pic in product.product.pics %}
	{% if forloop.first %}
        <img data-original="{{ pic.org }}" class="product_pics_img"/>
	{% endif %}
    {% endfor %}
    <!--img src="{{ product.product.pics }}"/-->
  </div>

  <div class="product_info">
    <div class="product_detail_name fcb1 f17 center">{{ product.product.name}}</div>  
    {% if product.product.alias %}
    <div class="center product_nickname">又名&nbsp;{{ product.product.alias }}</div>
    {% endif %}
    <div class="product_market_section">
      <img src="{% static "images/img_product_detail_price@2x.png" %}" class="float_l product_market_price_btn">
      <div class="float_l product_market_ps"><span class="product_market_price">¥{{ product.product.price }}</span><span class="product_market_size">/{{ product.product.size }}</span></div>
    </div>
  {% if product.product.goods %}
    {% if product.product.goods|length == 1 %}
      {% for goods in product.product.goods %}
          {% if forloop.counter == 1%}
    <div class="center marg_t_oz"><span class="product_fenpu_price">{{ product.product.priceRange }}</span><span class="product_fenpu_size">&nbsp;/{{ goods.size }}</span></div> 
          {% endif %}
      {% endfor %}
    {% else %}
    <div class="center marg_t_oz"><span class="product_fenpu_price">{{ product.product.priceRange }}</span></div> 
    {% endif %}
  {% else %}
     <div class="center marg_t_oz"><span class="product_fenpu_no_price">暂无售卖</span></div>
  {% endif %} 
    {% for goods in product.product.goods %}
         {% if forloop.counter == 1%}
    <div get_goods_id="{{ goods.goodsId }}" class="center product_in_cart_btn">加入购物车</div>
         {% endif %}
    {% endfor %}
  </div>
  <div class="product_gray_block"></div>
  {% for goods in product.product.goods%}
  {% if forloop.counter == 1 %}
  <div class="relative product_fenpu_goods">
    <div class="product_fenpu_seller">卖家：{{ goods.seller_name }}</div>
    <div class="product_why_bc">
       <a href='{% url 'topic:topic_info' 3756 %}'> <div class="float_l product_why_character"> <img src="{% static "images/img_product_detail_q_note@2x.png" %}" class="float_l product_why_btn" style="padding-right:4px">粉扑如何保证正品？</div></a>
       <a href='{% url 'topic:topic_info' 9812 %}'><div class="float_l product_why_character" style="padding-left:9px"><img src="{% static "images/img_product_detail_shopping_guide@2x.png" %}" class="float_l product_why_btn" style="padding-right:4px">小粉粉败家须知</div></a>
    </div>
    <a {% if is_mm == 0 %}href="javascript:void(0)" onclick="mechatClick()"{% endif %} {% if is_mm == 1 %} href='http://mp.weixin.qq.com/s?__biz=MzAxOTE4MjA1Nw==&mid=204366285&idx=1&sn=a4651bf822f260d369e6b46f5f3a3fe6' {% endif %}>
    <div class="absolute product_consult">
        <div class="float_r center product_service_cb">
          <img src="{% static "images/icon_mine_kefu@2x.png" %}" class="product_service_btn">
          <div class="product_service_character">客服</div>
        </div>
    </div>
    </a>
  </div>
  {% endif %}
  {% endfor %}
</div>

<!--产品相关问题信息-->
{% if product.totalNumber and product.totalNumber > 0 %}
<div class="question_body">
<div class="question_overview fcan f10">{{product.totalNumber}}个相关结果</div>
<div class="sp_line"></div>
<ul class='question_list datalist'>
{% with question_topic_list=product.contentList %}
  {% include "lists/question_topic_list.html" %}
{% endwith %}
</ul>
</div>
{% else %}
<div style="font-size:17px;color:D3B5AF;padding-top:25px;padding-bottom:25px;" class="center">还没有相关内容</div>
         <div class="product_related">
            <a href='{% url 'products:query_by_category' 1 product.product.category.categoryId %}'>
                    <img src="{% static "images/icon_product_detail_related@2x.png" %}" style="height:44px;width:44px;" class="float_l">
                    <div class="float_l common_cat" style="line-height:44px;margin-left:10px;color;rgb(68,68,68);color:rgb(68,68,68);">同类别产品</div>
            </a>
            <a href='{% url 'products:query_by_category' 3 product.product.brand.brandId %}'>
                   <img src="{% static "images/icon_product_detail_brand@2x.png" %}" style="height:44px;width:44px;margin-left:32px;" class="float_l">
                  <div class="float_l common_brand" style="line-height:44px;margin-left:10px;color:rgb(68,68,68);">同品牌产品</div>
            </a>
         </div>
         <div class="sp_line"></div>
         <script>
           $(document).ready(function(){
               var product_related_width = $(".common_cat").width()+$(".common_brand").width()+88+52;
                 $(".product_related").css("width",product_related_width);
 
            });
         </script>
{% endif %}
<div class='product_cart_container'>
  <div class='cart_download fl'><a id='bd_topic_download' onclick="ga('send', 'event', '应用', '下载', '底部');_hmt.push(['_trackEvent', 'software', 'download', 'topic_info_{{ featureTopic.featureTopicId }}']);" href='http://www.dabanniu.com/download.phtml' class="bg btn_t_download block" target="_blank"></a></div>
  <div class='show_cart fr fcb1'>
    <div class="relative fl product_cart">
       <img style="padding:7px 0px" src="{% static "images/icon_products_detail_shopping_cart.png" %}" class="product_cart_btn">
       <div class="absolute product_cn">
         <div class="center float_r product_cart_num">{{ product.cartNum }}</div>
       </div>
    </div>
    <a class="product_cart_in" href="{% url 'cart:cart_index' %}">查看购物车</a></div>
  <div class='clear'></div>
</div>
<div class="cart-pop" style="display:none;left:0;margin:0;width:100%;position:fixed;bottom:50%;z-index:9999">
  <div class="ico-succ" style="background-color:grey;color:white;padding:11px 15px 9px 11px;" >
    <span class="att-succ">添加成功！</span>
    <span class="cart-succ">商品已成功加入购物车</span>
  </div>
</div>
<!--规格选择栏-->
<div style="position:fixed;bottom:0px;left:0px;width:100%;background-color:white;display:none;z-index:20000" class="product_more_standard">
  <div style="height:68px;margin-left:5%;margin-top:16px;" class="relative">
    <div style="border-radius:50%;boder:1px solid #ececec;height:68px;width:68px;overflow:hidden;" class="float_l">
       {% for pic in product.product.pics %}
          {% if forloop.first %}
       <img src="{{ pic.org }}" style="height:68px;">
          {% endif %}
       {% endfor %}
    </div>
    <div class="float_l product_layer_info" style="margin-left:16px;">
       <div style="font-size:14px;color:#222;line-height:143%;margin-top:6px;">{{ product.product.name}}</div>
       {% for goods in product.product.goods %}
       <div style="margin-top:3px;display:none;" class="product_fixed_ps" goodsId="{{ goods.goodsId }}"><span style="color:#ff5346;font-size:10px;">¥{{ goods.goodsPrice }}</span><span style="color:#dbdbdb;font-size:10px;">/{{ goods.size }}</span></div>
       {% endfor %}
    </div>
    <div class="absolute" style="width:100%;left:0px;top:0px;">
         <img src="{% static "images/btn_product_detail_incart_cancel_normal@2x.png" %}" style="height:30px;width:30px;float:right;margin-right:2%;" class="exit_btn">
    </div>
  </div>
   {% for goods in product.product.goods %}
  <div style="height:36px;min-width:85px;margin-left:5%;margin-top:16px;" class="float_l haha">
    <div style="border:1px solid #666;font-size:12px;line-height:36px;padding-left:5px;padding-right:5px;" class="center abc" sizeId="{{ goods.goodsId }}">{{ goods.size }}</div>
  </div>
  {% endfor %}
  <div style="clear:both;"></div>

  <div style="border-top:1px solid #dbdbdb;width:90%;margin:16px auto 0px;"></div>
  {% for goods in product.product.goods %}
  <div style="height:85px;margin-left:5%;line-height:40px;font-size:12px;display:none;" class="product_send_time" timeId="{{ goods.goodsId }}">{{ goods.transportTitle }}</div>
  {% endfor %}
  <div style="border-top:1px solid #dbdbdb;width:90%;margin:0px auto;"></div>
  <div class="realative" style="padding-top:18px;padding-bottom:18px;height:33px;margin-left:5%;z-index:99;width:50%;">
     <img src="{% static "images/btn_product_incart_decrease_disabled@2x.png" %}" class="float_l product_decrease" style="height:33px;width:42px;">
     <div style="width:68px;float:left;height:33px;line-height:33px;text-align:center;" class="product_num">1</div>
     <img src="{% static "images/btn_product_incart_increase_normal@2x.png" %}" class="float_l product_increase" style="height:33px;width:42px;">
     <div class="absolute" style="width:100%;left:0px;bottom:17px;z-index:-1;">
        <div style="margin-right:5%;float:right;background-color:#ff5346;border-radius:3px;color:#fff;width:85px;height:33px;line-height:33px;font-size:11px;" class="center product_in_cart">加入购物车</div>
     </div>
  </div>
</div>
<!-- end -->

<!--遮盖-->
{% block cover %}
<div style="display:none;filter:alpha(opacity=60);opacity:0.6;-moz-opacity:0.6;-khtml-opacity:0.6;width:100%;height:100%;background-color:rgb(0,0,0);left:0px;top:0px;z-index:10000;" class="absolute cover_layer"></div>
{% endblock %}
<!--end-->
<script type="application/javascript">

$(".product_body").css({"background-color":"#fff"});
$(".product_info").css({"background-color":"#fff"});
$("body").css({"background-color":"#f9f8f5"});


$(".datalist").loaddata({
  url : "{{ url }}",
  success :show_right_info
});
show_right_info();

$(document).ready(function(){
  var current_num = parseInt($(".product_num").html());
  $(".footer_download").hide();
  $(".product_in_cart").click(function(){
    var goods_id = $(".current").attr("sizeId");
    //alert($(this).index());
    var num = $(".product_num").html();
    $.get_data(
      '{%  url 'product:add_in_cart' %}',
      "goodsId="+goods_id+"&productId="+{{ product.product.productId }}+"&num="+num,
      function(data){
        var cart_num_str = $(".product_cart_num").text();
        var new_cart_num = parseInt(cart_num_str)+parseInt(num);
        $(".product_cart_num").text(new_cart_num); 
		if(data.error && data.error == 2){
		   window.location=data.authuri;
		}
      },
	  function(){},'json'
    );
    $(".exit_btn").click();
    setTimeout(function(){$(".cart-pop").fadeOut("slow");},1300);
  });
/////////////////////////
  //var prodcut_info_width = $(".product_more_standard").width()*0.9 - 68 - 30;
  //$(".product_info").css("width",product_info_width);
  var market_section_width = $(".product_market_ps").width() + $(".product_market_price_btn").width() + 7;
  $(".product_market_section").css("width",market_section_width);
  //var current_num = parseInt($(".product_num").html());
  $(".product_increase").click(function(){
     current_num = current_num + 1;
     $(".product_num").html(current_num);
     if(current_num == 2){
       $(".product_decrease").attr("src","{% static "images/btn_product_incart_decrease_normal@2x.png" %}");
     } 
  });
  $(".product_decrease").click(function(){
     if(current_num > 1){
      current_num = current_num - 1;
      $(".product_num").html(current_num);
      if(current_num == 1){
         $(".product_decrease").attr("src","{% static "images/btn_product_incart_decrease_disabled@2x.png" %}");
       }
     }
  });
  $(".product_increase").mousedown(function(){
       $(".product_increase").attr("src","{% static "images/btn_product_incart_increase_pressed@2x.png" %}");
  });
  $(".product_increase").mouseup(function(){
       $(".product_increase").attr("src","{% static "images/btn_product_incart_increase_normal@2x.png" %}");
  }); 
  $(".product_decrease").mousedown(function(){
       if(current_num !=1 ){
        $(".product_decrease").attr("src","{% static "images/btn_product_incart_decrease_pressed@2x.png" %}");
       }
  });
  $(".product_decrease").mouseup(function(){
       if(current_num !=1 ){
        $(".product_decrease").attr("src","{% static "images/btn_product_incart_decrease_normal@2x.png" %}");
       }
  });
  $(".product_fixed_ps").first().show();
  $(".abc").click(function(){
    $(this).css("border","2px solid #ff5346");
    $(".haha div").not($(this)).css("border","1px solid #666");
    var size = $(this).attr("sizeId");
	$(".abc").removeClass("current");
    $(this).addClass("current");
    $(".product_fixed_ps[goodsId="+size+"]").show();
    $(".product_fixed_ps[goodsId!="+size+"]").hide();
    $(".product_send_time[timeId="+size+"]").show();
    $(".product_send_time[timeId!="+size+"]").hide();
    
  });
  $(".abc").eq(0).click();
  $(".product_in_cart_btn").click(function(){
    $(".product_cart_container").hide();
    $(".product_more_standard").show();
	$("#main-content").height($(window).height()-200);
	$("#main-content").css('overflow','hidden');
    $(".abc").eq(0).click();
    $(".cover_layer").show();
    var product_layer_info_width = ($(".product_more_standard").width())*0.9 - 68 - 30;
    $(".product_layer_info").css("width",product_layer_info_width);
  });
  $(".cover_layer").click(function(){
    $(".exit_btn").click();
  });
  $(".exit_btn").click(function(){
    $(".product_more_standard").hide();
    $(".product_cart_container").show();
    $(".cover_layer").hide();
    $(".abc").eq(0).click();
	$("#main-content").height('auto');
	$("#main-content").css('overflow','auto');
    current_num = 1;
    $(".product_num").html(1);
  });
  $(".product_send_time").eq(0).show();
  
  $(".product_pics_img").show().lazyload({
      placeholder:"{% static "images/img_product_place_holder_cell@2x.png" %}", 
      threshold:200,
      //effect:"fadeIn",
   });
});
</script>

{% endblock %}



