{% extends "base.html" %}
{% block title %} {{ product.product.name }} {% endblock %}

{% block script %}
{% load static %}
<link rel="stylesheet" href="{% static "css/style.css" %}">
<link rel="stylesheet" href="{% static "css/product.css" %}">
{% endblock %}

{% block main_content %}
<!--产品信息-->
<div class="product_body">
  <div class="product_pics t_c">
    {% for pic in product.product.pics %}
    <img src="{{ pic.org }}"/>
    {% endfor %}
    <!--img src="{{ product.product.pics }}"/-->
  </div>
  <div class="product_info">
    <div class="product_detail_name fcb1 f15">{{ product.product.name}}</div>  
    <div class="product_detail_size fcg1 f15">
      <div class="fl">{{ product.product.size }}</div>
      <div class="product_price fl">参考价:&nbsp<span class="fcprice">¥{{ product.product.price }}</span></div>
    </div>  
    <div class="product_detail_comment">
      <div class="product_like fcg1 f13 fr"><span class="fcprice">{{ product.product.likeNum }}人</span>认为好用</div>
      <div class="product_used fcg1 f13 fr"><span class="fcprice">{{ product.product.usedNum }}人</span>用过</div>
    </div>  
  </div>
  <div class="sp_line"></div>
  <div class="product_related">
    <div class="btn fl"><div class="btn_content fcg1 f13 bg"><div class="porduct_jeshao_img fl"></div>官方介绍</div></div>
    <div class="btn fl"><div class="btn_content fcg1 f13 bg"><div class="porduct_category_img fl"></div>同类别产品</div></div>
    <div class="btn fl"><div class="btn_content fcg1 f13 bg"><div class="porduct_brand_img fl"></div>同品牌产品</div></div>
  </div>
</div>

<!--产品相关问题信息-->
<div class="question_body">
<div class="question_overview fcg1 f13">{{product.totalNumber}}个相关回答</div>
<div class="sp_line"></div>
{% if product.totalNumber > 0 %}
<ul class='question_list'>
{% include "product/question_list.html" %}
</ul>
<div class="load_more_question"></div>
{% else %}
<div class="f10 fcg1">没有问题</div>
{% endif %}
</div>

<script type="application/javascript">
    var mark = {{ product.mark }};
    var product_id = {{ product.product.productId }};
    var isLoadingNextPage = false;  //是否正在加载更多问题
    $(window).scroll(function(){
        if($(window).scrollTop() == ($(document).height() - $(window).height()) &&
           mark > 0 && isLoadingNextPage == false) {
            var url = "/product/" + product_id + "/mark/" + mark + "/";
            isLoadingNextPage = true;
            $.get_data(url, null,
                function(data) {
                    mark = data.mark;
                    $(".question_list").append(data.html); },
                function(xmlReq, textStatus) {
                   isLoadingNextPage = false;
                }, 'json');
        }
    })
</script>

{% endblock %}
