{% extends "base.html" %}

{% block script %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "css/feeds.css" %}">
    <script type="text/javascript" src="{% static "js/feeds.js" %}"></script>
{% endblock %}
{% block main_content %}
<ul class='feedsList datalist'>
    {% include "feed/feedList.html" %}
</ul>
<script>
$(".datalist").loaddata({
    url : "{{ url }}",
	success :show_right_info 
});
$(".feed_filter_box li").loaddata({
    load_mode : "click_flush",
	success :show_right_info
});
</script>
{% endblock %}
